@model IEnumerable<DCI.Models.ViewModel.WFHHeaderViewModel>
@using Newtonsoft.Json;
@using DCI.Core.Common;
@using DCI.Models.ViewModel;


<link href="~/css/dcicustom.css" rel="stylesheet" />

@{
    var modulePageAccess = Context.Session.GetString("ModulePageAccess");
    var canView = false;
    var canAdd = false;
    var canEdit = false;
    var canDelete = false;

    if (modulePageAccess == null)
    {
        <script>
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Logout", "Account")',
                success: function (response) {

                    Swal.fire({
                        text: "Your session has timed out. Please log in again.",
                        icon: "info",
                        confirmButtonText: "Ok"
                    }).then((result) => {
                        window.location.href = '/Account/Logout';
                    });
                },
                error: function () {
                    Swal.fire({
                        text: "An error occurred. Please try again.",
                        icon: "error"
                    });
                }
            })
        </script>
    }
    else
    {
        var module = JsonConvert.DeserializeObject<List<ModuleInRoleViewModel>>(modulePageAccess)?
                    .FirstOrDefault(x => x.ModulePageId == (int)EnumModulePage.Department);
        canView = module?.View ?? false;
        canAdd = module?.Add ?? false;
        canEdit = module?.Update ?? false;
        canDelete = module?.Delete ?? false;
    }

}

<div class="container-fluid">
@*    <div class="spinner-overlay">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div> *@
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h6 class="m-0 font-weight-bold text-gray-800">@ViewBag.BreadCrumbLabel</h6>
        @*       <div class="upperRightDivBtn">
            <a href="#" title="Add Overtime" class="btn btnPrimary btn-icon-split @(canAdd ? "" : "disabled")" data-toggle="modal" data-target="#" onclick="filewfhmodal()" id="AddWFH">
                <span class="icon text-white"><i class="fa-solid fa-plus text-xs"></i></span>
                <span class="text text-white"><small>File WFH</small></span>
            </a>
            <a href="#" class="btn btnSuccess btn-icon-split" data-toggle="modal" data-target="#createmodal">
                <span class="icon text-white"><i class="fa-regular fa-clock text-xs"></i></span>
                <span class="text"><small>Time Clock</small></span>
            </a>
        </div> *@

    </div>
    <div class="col-12 p0">
        <ul class="breadcrumb">
            <li><a href="~/Home/Index">Dashboard</a></li>
            <li><a href="#">Daily Time Record</a></li>
            <li><a href="#">WFH Application</a></li>
        </ul>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header">
            <label class="mb0">Data</label>
        </div>
        <div class="card-body">
            <div class="table-responsive mt20">
                <table class="table table-bordered" id="tblDTR">
                    <thead>
                        <tr>
                            <th>
                                <label>Request No.</label>
                            </th>
                            <th>
                                <label>Name</label>
                            </th>

                            <th>
                                <label>Status</label>
                            </th>
                            <th>
                                <label>Date Created</label>
                            </th>

                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.RequestNo
                                </td>
                                <td>
                                    @item.Fullname
                                </td>
                                <td>
                                    @item.StatusName
                                </td>
                                <td>
                                    @item.DateCreated
                                </td>

                                <td class="text-center">
                                    <a href="#" onclick='viewWFHdDetails(@item.WfhHeaderId);' title="View" class="btn btn-primary"><i class="fas fa-search"></i></a>
                                                        
                                    <a href="#" id="approved" onclick="approvalForm(@item.WfhHeaderId,@((int)EnumStatus.Approved))" title="Approve" class="btn btn-info"> <i class="fa fa-check"></i></a>
                                    <a href="#" id="disapproved" onclick="remarksForm(@item.WfhHeaderId,@((int)EnumStatus.Rejected))" class="btn btn-danger"> <i class="fa fa-remove"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            </<div>
            </div>

            <div class="modal fade" id="filewfhmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">WFH</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="wfhInfo">
                            <div class="modal-body">
                                <input type="hidden" id="WfhHeaderId" name="WfhHeaderId">
                                <table class="table table-bordered text-dark text-xs">
                                    <thead>
                                        <tr>

                                            <th>
                                                <label>Date</label>
                                            </th>
                                            <th>
                                                <label>Time In</label>
                                            </th>
                                            <th>
                                                <label>Time Out</label>
                                            </th>
                                            <th>
                                                <label>Total Working Hours</label>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody id="tblFileforWFH">
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <a href="#" id="approved" onclick="approvalForm($('#WfhHeaderId').val(),@((int)EnumStatus.Approved))" title="Approve" class="btn btn-info"> Approve</a>
                                <a href="#" id="disapproved" onclick="remarksForm($('#WfhHeaderId').val(),@((int)EnumStatus.Rejected))" class="btn btn-danger"> Disapprove</a>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><small>Close</small></button>
                            </div>
                        </form>

                        <input type="hidden" id="HiddenHeaderId" name="HiddenHeaderId" value="">
                        <input type="hidden" id="HiddenAction" name="HiddenAction" value="">
                    </div>
                </div>
            </div>
       
        </div>



@section scripts {

            <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
            <script src="~/js/dci-validation.js"></script>

            <script type="text/javascript">
                        var js = jQuery.noConflict(true);

                                $('.spinner-overlay').show();

                    setTimeout(() => {
                        $('.spinner-overlay').hide();
                    }, 200);


                        $(document).ready(function () {
                            // js('#tblDTR').DataTable({
                            //      order: [[2, 'desc']]
                            // });
                          
                        });

                function viewWFHdDetails(headerId){
                       $('#HiddenHeaderId').val(headerId);
                          $('#WfhHeaderId').val(headerId);
                       
                                          $.ajax({
                                              type: 'POST',
                                              url: '@Url.Action("WFHApplicationDetails", "DailyTimeRecord")',
                                                data: { WFHHeaderId: headerId },
                                              success: function (response) {
                                                  if (response.success) {

                                                      console.log(response.data);

                                                           var tbodytable = $("#tblFileforWFH");
                                                    tbodytable.empty();

                                                    if (response.data.length > 0) {
                                                        $.each(response.data, function(index, item) {
                                                            var row = `<tr>

                                                                                 <td>${item.date}</td>
                                                                                    <td>${item.timeIn}</td>
                                                                                    <td>${item.timeOut}</td>
                                                                                       <td>${item.totalWorkingHours}</td>
                                                                        </tr>`;
                                                            tbodytable.append(row);
                                                        });
                                                    } else {
                                                        tbodytable.html(`<tr><td colspan="4" class="text-center">No record found.</td></tr>`);
                                                    }

                                                      js('#filewfhmodal').modal('show');

                                                  } else {
                                                      Swal.fire({
                                                          text: response.message,
                                                          icon: "error"
                                                      });
                                                  }
                                                  $('.spinner-overlay').hide();
                                              },
                                              error: function () {
                                                  $('.spinner-overlay').hide();
                                                  Swal.fire({
                                                      text: "An error occurred. Please try again.",
                                                      icon: "error"
                                                  });
                                              }
                                          });
                }


                  function approvalForm(headerId,status) {

                    


                             $('.spinner-overlay').show();
                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("ApprovalWFH", "Todo")',
                            data: { TransactionId : headerId , Status: status, Remarks: $('#Remarks').val() },

                            success: function (response) {
                                if (response.success) {
                                                        Swal.fire({
                                                            text: response.message,
                                                            icon: "success",
                                                            confirmButtonText: "Ok"
                                                        }).then((result) => {
                                                            location.reload();
                                                        });

                                        } else {
                                    Swal.fire({
                                        text: response.message,
                                        icon: "error"
                                    });
                                }
                                 $('.spinner-overlay').hide();
                            },
                            error: function () {
                                 $('.spinner-overlay').hide();
                                Swal.fire({
                                    text: "An error occurred. Please try again.",
                                    icon: "error"
                                });
                            }
                        });


                }

                 function remarksForm(headerId,status) {
                      $('#Remarks_Approval').val("");
                      $('#HiddenHeaderId').val(headerId);
                      $('#HiddenAction').val(status);
                       js('#remarksmodal').modal('show');
                 }

                 function approvalRemarksForm() {

                  if($('#Remarks_Approval').val() == "")
                  {
                         Swal.fire({
                                        text: "Please input remarks",
                                        icon: "error"
                                    });
                  }
                  else
                  {


                     const _transId =  $('#HiddenHeaderId').val();
                      const _action =  $('#HiddenAction').val();

                                          $('.spinner-overlay').show();

                        $.ajax({
                            type: 'POST',
                            url: '@Url.Action("ApprovalWFH", "Todo")',
                            data: { TransactionId: _transId , Status: _action, Remarks: $('#Remarks_Approval').val() },
                            success: function (response) {
                                if (response.success) {
                                                        Swal.fire({
                                                            text: response.message,
                                                            icon: "success",
                                                            confirmButtonText: "Ok"
                                                        }).then((result) => {
                                                            location.reload();
                                                        });

                                        } else {
                                    Swal.fire({
                                        text: response.message,
                                        icon: "error"
                                    });
                                }
                                      $('.spinner-overlay').hide();
                            },
                            error: function () {
                                      $('.spinner-overlay').hide();
                                Swal.fire({
                                    text: "An error occurred. Please try again.",
                                    icon: "error"
                                });
                            }
                        });

                   }
                   }


            </script>
}
