@model IEnumerable<DCI.Models.ViewModel.DepartmentViewModel>

<link href="~/css/dcicustom.css" rel="stylesheet" />


<div class="container-fluid">
	<div class="d-sm-flex align-items-center justify-content-between mb-3">
		<h6 class="m-0 font-weight-bold text-gray-800">Department</h6>
		<div class="upperRightDivBtn">
			<a href="#" class="btn btnPrimary btn-icon-split" data-toggle="modal" data-target="#" onclick="newForm()">
				<span class="icon text-white"><i class="fa-solid fa-plus text-xs"></i></span>
				<span class="text text-white"><small>Add Department</small></span>
			</a>
		</div>

	</div>
	<div class="col-12 p0">
		<ul class="breadcrumb">
			<li><a href="~/Home/Index">Dashboard</a></li>
			<li><a href="~/Maintenance/Index">Administration</a></li>
			<li>Department</li>
		</ul>
	</div>


	<p>
		@* 	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createmodal">Add Department</button> *@
	</p>

	<div class="card shadow mb-4">
		<div class="card-header">
			<label class="mb0">Data</label>
		</div>
		<div class="card-body">
			<div class="table-responsive mt20">
				<table class="table table-bordered" id="tblDepartment">
					<thead>
						<tr>
							<th>
								<label>Id</label>
							</th>
							<th>
								<label>Department Code</label>
							</th>
							<th>
								<label>Department</label>
							</th>
							<th>
								<label>Description</label>
							</th>
							<th>
								<label>Date Created</label>
							</th>
							<th>
								<label>Created By</label>
							</th>
							<th>
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@item.DepartmentId
								</td>
								<td>
									@item.DepartmentCode
								</td>
								<td>
									@item.DepartmentName
								</td>
								<td>
									@item.Description
								</td>
								<td>
									@item.DateCreated.ToShortDateString()
								</td>
								<td>
									@item.CreatedName
								</td>

								<td>
									<a href="#" onclick="editForm(@item.DepartmentId,1)" class="btn btn-primary"><i class="fas fa-search"></i></a> |
									<a href="#" id="editForm" onclick="editForm(@item.DepartmentId,0)" class="btn btn-info"><i class="fa fa-edit"></i></a> |
									<a href="#" id="deleteform" class="btn btn-danger" onclick="deleteform(@item.DepartmentId)"><i class="far fa-trash-alt"></i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			</<div>
			</div>

			<div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Department</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form id="createForm">
							<div class="modal-body">
								<input type="hidden" id="DepartmentId" name="DepartmentId" value="0">
								<div class="form-group">
									<label for="DepartmentCode" class="col-form-label required">Department Code:</label>
									<input type="text" class="form-control" id="DepartmentCode" name="DepartmentCode" maxlength="3" onkeypress="return alphaNumericOnly(event);" required>							
								</div>
								<div class="form-group">
									<label for="Department" class="col-form-label required">Department:</label>
									<input type="text" class="form-control" id="DepartmentName" name="DepartmentName" maxlength="50" onkeypress="return alphaNumericOnly(event);" required>
								</div>
								<div class="form-group">
									<label for="Description" class="col-form-label">Description:</label>
									<textarea class="form-control" id="Description" name="Description" maxlength="255"></textarea>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary" id="btnSave">Save</button>
							</div>
						</form>

					</div>
				</div>
			</div>



			@section scripts {
				<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
				<script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
				<script src="~/js/dci-validation.js"></script>

				<script type="text/javascript">
					var js = jQuery.noConflict(true);

					$(document).ready(function () {
						js('#tblDepartment').DataTable({
						});

						$('#createForm').submit(function (event) {
							event.preventDefault();
							var formData = $(this).serialize();
							bootbox.confirm('Are you sure you want to save this record?', function (result) {
								if (result) {

									$.ajax({
										type: 'POST',
										url: '@Url.Action("SaveDepartment", "Maintenance")',
										data: formData,
										success: function (response) {
											if (response.success) {
												$('#createForm')[0].reset();
												js('#createmodal').modal('hide');
												bootbox.alert(response.message, function () {
													location.reload();
												});
											} else {
												bootbox.alert(response.message);
											}
										},
										error: function () {
											bootbox.alert('An error occurred. Please try again.');
										}
									});
								}
							}); //bootbox
						}); //submit

					});

					function newForm() {
						$('#DepartmentId').val("0");
						$('#DepartmentCode').val("");
						$('#DepartmentName').val("");
						$('#Description').val("");
						$('#btnSave').show();
						$('#createForm').find('input, select, textarea').prop('disabled', false);
						js('#createmodal').modal('show');
					}

					function editForm(id, view) {
						$.ajax({
							type: 'POST',
							url: '@Url.Action("EditDepartment", "Maintenance")',
							data: { DepartmentId: id },
							success: function (response) {
								if (response.success) {
									$('#DepartmentId').val(response.data.departmentId);
									$('#DepartmentCode').val(response.data.departmentCode);
									$('#DepartmentName').val(response.data.departmentName);
									$('#Description').val(response.data.description);

									if (view == 1) {	//View button
										$('#createForm').find('input, select, textarea').prop('disabled', true);
										$('#btnSave').hide();
									}
									else {  //Edit button
										$('#createForm').find('input, select, textarea').prop('disabled', false);
										$('#btnSave').show();
									}

									js('#createmodal').modal('show');
								} else {
									bootbox.alert(response.message);
								}
							},
							error: function () {
								bootbox.alert('An error occurred. Please try again.');
							}
						});
					}

					function deleteform(id) {

						bootbox.confirm('Are you sure you want to delete this record?', function (result) {
							if (result) {
								$.ajax({
									type: 'POST',
									url: '@Url.Action("DeleteDepartment", "Maintenance")',
									data: { DepartmentId: id },
									success: function (response) {
										if (response.success) {
											bootbox.alert(response.message, function () {
												location.reload();
											});
										} else {
											bootbox.alert(response.message);
										}
									},
									error: function () {
										bootbox.alert('An error occurred. Please try again.');
									}
								});
							}
						});
					}
				</script>
			}
