@model IEnumerable<DCI.Models.ViewModel.DocumentTypeViewModel>
<link href="~/css/dcicustom.css" rel="stylesheet" />


<div class="container-fluid">
	<div class="d-sm-flex align-items-center justify-content-between mb-3">
		<h6 class="m-0 font-weight-bold text-gray-800">Document Type</h6>
		<div class="upperRightDivBtn">
			<a href="#" class="btn btnPrimary btn-icon-split" data-toggle="modal" data-target="#" onclick="newForm()">
				<span class="icon text-white"><i class="fa-solid fa-plus text-xs"></i></span>
				<span class="text text-white"><small>Add Document Type</small></span>
			</a>
		</div>

	</div>
	<div class="col-12 p0">
		<ul class="breadcrumb">
			<li><a href="~/Home/Index">Dashboard</a></li>
			<li><a href="~/Maintenance/Index">Administration</a></li>
			<li>Document Type</li>
		</ul>
	</div>

	@* <p>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createmodal">Add Employment Type</button>
	</p> *@
	<div class="card shadow mb-4">
		<div class="card-header">
			<label class="mb0">Data</label>
		</div>
		<div class="card-body">
			<div class="table-responsive mt20">
				<table class="table table-bordered" id="tblDocumentType" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>
								<label>Id</label>
							</th>
							<th>
								<label>Document Type</label>
							</th>
							<th>
								<label>Description</label>
							</th>

							<th>
								<label>Date Created</label>
							</th>
							<th>
								<label>Created By</label>
							</th>
							<th>
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@item.DocTypeId
								</td>
								<td>
									@item.Name
								</td>
								<td>
									@item.Description
								</td>
								<td>
									@item.DateCreated.ToShortDateString()
								</td>
								<td>
									@item.CreatedName
								</td>

								<td>
									<a href="#" onclick="editForm(@item.DocTypeId,1)" class="btn btn-primary"><i class="fas fa-search"></i></a> |
									<a href="#" id="editForm" onclick="editForm(@item.DocTypeId,0)" class="btn btn-info"><i class="fa fa-edit"></i></a> |
									<a href="#" id="deleteform" class="btn btn-danger" onclick="deleteform(@item.DocTypeId)"><i class="far fa-trash-alt"></i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			</<div>
			</div>

			<div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Document Type</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form id="createForm">
							<div class="modal-body">
								<input type="hidden" id="DocTypeId" name="DocTypeId" value="0">
								<div class="form-group">
									<label for="DocumentType" class="col-form-label required">Document Type:</label>
									<input type="text" class="form-control" id="Name" name="Name" maxlength="25" onkeypress="return alphaNumericOnly(event);" required>
								</div>
								<div class="form-group">
									<label for="Description" class="col-form-label">Description:</label>
									<input type="text" class="form-control" id="Description" name="Description" maxlength="255">
								</div>

							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary" id="btnSave">Save</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</form>

					</div>
				</div>
			</div>



			@section scripts {
				@* 				<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script> *@
				<script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>

				<script type="text/javascript">
					var js = jQuery.noConflict(true);

					$(document).ready(function () {
						js('#tblDocumentType').DataTable({
						});

						$('#createForm').submit(function (event) {
							event.preventDefault();
							var formData = $(this).serialize();
							Swal.fire({
								text: "Are you sure you want to save this record?",
								icon: "question",
								showCancelButton: true,
								confirmButtonText: "Ok"
							}).then((result) => {
								if (result.isConfirmed) {
									$.ajax({
										type: 'POST',
										url: '@Url.Action("SaveDocumentType", "Maintenance")',
										data: formData,
										success: function (response) {
											if (response.success) {
												$('#createForm')[0].reset();
												js('#createmodal').modal('hide');

												Swal.fire({
													text: response.message,
													icon: "success",
													confirmButtonText: "Ok"
												}).then((result) => {
													location.reload();
												});

											} else {
												Swal.fire({
													text: response.message,
													icon: "error"
												});
											}
										},
										error: function () {
											Swal.fire({
												text: "An error occurred. Please try again.",
												icon: "error"
											});
										}
									});
								}
							});
						});//submit

					});



					function newForm() {
						$('#DocTypeId').val("0");
						$('#Name').val("");
						$('#Description').val("");
						$('#btnSave').show();
						$('#createForm').find('input, select, textarea').prop('disabled', false);
						js('#createmodal').modal('show');
					}

					function editForm(id, view) {
						$.ajax({
							type: 'POST',
							url: '@Url.Action("EditDocumentType", "Maintenance")',
							data: { DocTypeId: id },
							success: function (response) {
								if (response.success) {
									$('#DocTypeId').val(response.data.docTypeId);
									$('#Name').val(response.data.name);
									$('#Description').val(response.data.description);

									if (view == 1) {	//View button
										$('#createForm').find('input, select, textarea').prop('disabled', true);
										$('#btnSave').hide();
									}
									else {  //Edit button
										$('#createForm').find('input, select, textarea').prop('disabled', false);
										$('#btnSave').show();
									}

									js('#createmodal').modal('show');
								} else {
									Swal.fire({
										text: response.message,
										icon: "error"
									});
								}
							},
							error: function () {
								Swal.fire({
									text: "An error occurred. Please try again.",
									icon: "error"
								});
							}
						});
					}
					
					function deleteform(id) {
						Swal.fire({
							text: "Are you sure you want to delete this record?",
							icon: "warning",
							showCancelButton: true,
							confirmButtonText: "Yes, delete it!"
						}).then((result) => {
							if (result.isConfirmed) {
								$.ajax({
									type: 'POST',
									url: '@Url.Action("DeleteDocumentType", "Maintenance")',
									data: { DocTypeId: id },
									success: function (response) {
										if (response.success) {
											Swal.fire({
												text: response.message,
												icon: "success",
												confirmButtonText: "Ok"
											}).then((result) => {
												location.reload();
											});
										} else {
											Swal.fire({
												text: response.message,
												icon: "error"
											});
										}
									},
									error: function () {
										Swal.fire({
											text: "An error occurred. Please try again.",
											icon: "error"
										});
									}
								});
							}
						});
					}
				</script>
			}
