@model IEnumerable<DCI.Models.ViewModel.SectionViewModel>

<link href="~/css/dcicustom.css" rel="stylesheet" />

<div class="container-fluid">
	<div class="spinner-overlay">
		<div class="spinner-border text-light" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

	<div class="d-sm-flex align-items-center justify-content-between mb-3">
		<h6 class="m-0 font-weight-bold text-gray-800">Section</h6>
		<div class="upperRightDivBtn">
			<a href="#" class="btn btnPrimary btn-icon-split" data-toggle="modal" data-target="#" onclick="newForm()">
				<span class="icon text-white"><i class="fa-solid fa-plus text-xs"></i></span>
				<span class="text text-white"><small>Add Section</small></span>
			</a>
		</div>

	</div>
	<div class="col-12 p0">
		<ul class="breadcrumb">
			<li><a href="~/Home/Index">Dashboard</a></li>
			<li><a href="~/Maintenance/Index">Administration</a></li>
			<li>Section</li>
		</ul>
	</div>


	<div class="card shadow mb-4">
		<div class="card-header">
			<label class="mb0">Data</label>
		</div>
		<div class="card-body">
			<div class="table-responsive mt20">
				<table class="table table-bordered" id="tblSection">
					<thead>
						<tr>
							@* <th>
							<label>Id</label>
							</th> *@
							<th>
								<label>Section Code</label>
							</th>
							<th>
								<label>Section</label>
							</th>
							<th>
								<label>Description</label>
							</th>
							<th>
								<label>Department</label>
							</th>
							<th>
								<label>Date Created</label>
							</th>
							<th>
								<label>Created By</label>
							</th>
							<th>
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								@* <td>
							@item.SectionId
							</td> *@
								<td>
									@item.SectionCode
								</td>
								<td>
									@item.SectionName
								</td>
								<td>
									@item.Description
								</td>
								<td>
									@item.DepartmentName
								</td>
								<td>
									@item.DateCreated.ToShortDateString()
								</td>
								<td>
									@item.CreatedName
								</td>

								<td>
									<a href="#" onclick="editForm(@item.SectionId,1)" class="btn btn-primary"><i class="fas fa-search"></i></a> |
									<a href="#" id="editForm" onclick="editForm(@item.SectionId,0)" class="btn btn-info"><i class="fa fa-edit"></i></a> |
									<a href="#" id="deleteform" class="btn btn-danger" onclick="deleteform(@item.SectionId)"><i class="far fa-trash-alt"></i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			</<div>
			</div>

			<div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Section</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form id="createForm">
							<div class="modal-body">
								<input type="hidden" id="SectionId" name="SectionId" value="0">

								<div class="form-group">
									<label for="Department" class="col-form-label required">Department:</label>
									<input type="hidden" id="DepartmentId" name="DepartmentId" value="0" required>
									<select id="departmentSelect" class="form-select" required>
										<option value="">select department</option>
									</select>
								</div>


								<div class="form-group">
									<label for="SectionCode" class="col-form-label required">Section Code:</label>
									<input type="text" class="form-control" id="SectionCode" name="SectionCode" maxlength="3" onkeypress="return alphaNumericOnly(event);" required>
								</div>
								<div class="form-group">
									<label for="Section" class="col-form-label required">Section:</label>
									<input type="text" class="form-control" id="SectionName" name="SectionName" maxlength="25" onkeypress="return alphaNumericOnly(event);" required>
								</div>
								<div class="form-group">
									<label for="Description" class="col-form-label">Description:</label>
									<textarea class="form-control" id="Description" name="Description" maxlength="255"></textarea>
								</div>
							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary" id="btnSave">Save</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</form>

					</div>
				</div>
			</div>



			@section scripts {			
				<script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>

				<script type="text/javascript">
					var js = jQuery.noConflict(true);


					$('.spinner-overlay').show();

					setTimeout(() => {
						$('.spinner-overlay').hide();
					}, 200);

					$(document).ready(function () {
						js('#tblSection').DataTable({
						});

						$('#createForm').submit(function (event) {
							event.preventDefault();

							document.getElementById("DepartmentId").value = $('#departmentSelect').val();
							var formData = $(this).serialize();
						
							Swal.fire({
								text: "Are you sure you want to save this record?",
								icon: "question",
								showCancelButton: true,
								confirmButtonText: "Ok"
							}).then((result) => {
								if (result.isConfirmed) {
									$.ajax({
										type: 'POST',
										url: '@Url.Action("SaveSection", "Maintenance")',
										data: formData,
										success: function (response) {
											if (response.success) {
												$('#createForm')[0].reset();
												js('#createmodal').modal('hide');

												Swal.fire({
													text: response.message,
													icon: "success",
													confirmButtonText: "Ok"
												}).then((result) => {
													location.reload();
												});

											} else {
												Swal.fire({
													text: response.message,
													icon: "error"
												});
											}
										},
										error: function () {
											Swal.fire({
												text: "An error occurred. Please try again.",
												icon: "error"
											});
										}
									});
								}
							}); //sweet
						});//submit

					});

					function newForm() {
						$.ajax({
							type: 'POST',
							url: '@Url.Action("EditSection", "Maintenance")',
							success: function (response) {
								if (response.success) {
									$('#SectionId').val("0");
									$('#SectionCode').val("");
									$('#SectionName').val("");
									$('#Description').val("");

									var $select = $('#departmentSelect');
									$select.empty();
									$select.append('<option value="">Select type</option>');

									$.each(response.data.optionsDepartment, function (index, item) {
										if (item.value == response.data.departmentId) {
											$select.append('<option value="' + item.value + '" selected="selected">' + item.text + '</option>');
										} else {
											$select.append('<option value="' + item.value + '">' + item.text + '</option>');
										}
									});
									$('#btnSave').show();
									$('#createForm').find('input, select, textarea').prop('disabled', false);

									js('#createmodal').modal('show');
								} else {
									Swal.fire({
										text: response.message,
										icon: "error"
									});
								}
							},
							error: function () {
								Swal.fire({
									text: "An error occurred. Please try again.",
									icon: "error"
								});
							}
						});
					}

					function editForm(id, view) {
						$.ajax({
							type: 'POST',
							url: '@Url.Action("EditSection", "Maintenance")',
							data: { SectionId: id },
							success: function (response) {
								if (response.success) {
									$('#SectionId').val(response.data.sectionId);
									$('#SectionCode').val(response.data.sectionCode);
									$('#SectionName').val(response.data.sectionName);
									$('#Description').val(response.data.description);

									var $select = $('#departmentSelect');
									$select.empty();
									$select.append('<option value="">Select type</option>');

									$.each(response.data.optionsDepartment, function (index, item) {
										if (item.value == response.data.departmentId) {
											$select.append('<option value="' + item.value + '" selected="selected">' + item.text + '</option>');
										} else {
											$select.append('<option value="' + item.value + '">' + item.text + '</option>');
										}
									});

									if (view == 1) {	//View button
										$('#createForm').find('input, select, textarea').prop('disabled', true);
										$('#btnSave').hide();
									}
									else {  //Edit button
										$('#createForm').find('input, select, textarea').prop('disabled', false);
										$('#btnSave').show();
									}

									js('#createmodal').modal('show');
								} else {
									Swal.fire({
										text: response.message,
										icon: "error"
									});
								}
							},
							error: function () {
								Swal.fire({
									text: "An error occurred. Please try again.",
									icon: "error"
								});
							}
						});
					}

					function deleteform(id) {

						Swal.fire({
							text: "Are you sure you want to delete this record?",
							icon: "warning",
							showCancelButton: true,
							confirmButtonText: "Yes, delete it!"
						}).then((result) => {
							if (result.isConfirmed) {
								$.ajax({
									type: 'POST',
									url: '@Url.Action("DeleteSection", "Maintenance")',
									data: { SectionId: id },
									success: function (response) {
										if (response.success) {
											Swal.fire({
												text: response.message,
												icon: "success",
												confirmButtonText: "Ok"
											}).then((result) => {
												location.reload();
											});
										} else {
											Swal.fire({
												text: response.message,
												icon: "error"
											});
										}
									},
									error: function () {
										Swal.fire({
											text: "An error occurred. Please try again.",
											icon: "error"
										});
									}
								});
							}
						});
					}
				</script>
			}
