@*  @model IEnumerable<DCI.Models.Entities.User> *@
  @model DCI.Models.ViewModel.UserModel


<link href="~/css/dcicustom.css" rel="stylesheet" />


<div class="container-fluid">
	<div class="spinner-overlay">
		<div class="spinner-border text-light" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>
	<div class="d-sm-flex align-items-center justify-content-between mb-3">
		<h6 class="m-0 font-weight-bold text-gray-800">User Management</h6>
		<div class="upperRightDivBtn">
			<a href="#" class="btn btnPrimary btn-icon-split" onclick="newForm()">
				<span class="icon text-white"><i class="fa-solid fa-plus text-xs"></i></span>
				<span class="text text-white"><small>Add User</small></span>
			</a>
		</div>

	</div>
	<div class="col-12 p0">
		<ul class="breadcrumb">
			<li><a href="~/Home/Index">Dashboard</a></li>
			<li><a href="~/Maintenance/Index">Administration</a></li>
			<li>User Management</li>
		</ul>
	</div>

	<p>
		@* 	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createmodal">Add User</button> *@
		@* <button type="button" class="btn btn-primary" onclick="newForm()">Add User</button> *@


		@* <a href="#" id="editForm" onclick="editForm(@item.UserId)">Edit</a> | *@
	</p>

	<div class="card shadow mb-4">
		<div class="card-header">
			<label class="mb0">Data</label>
		</div>
		<div class="card-body">
			<div class="table-responsive mt20">
				<table class="table table-bordered" id="tblUser" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>
								<label>Id</label>
							</th>
							<th>
								<label>Email</label>
							</th>
							<th>
								<label>Firstname</label>
							</th>
							<th>
								<label>Middlename</label>
							</th>
							<th>
								<label>Lastname</label>
							</th>
							<th>
								<label>Contact No</label>
							</th>

							<th>
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model.EmployeeList)
						{
							<tr>
								<td>
									@item.UserId
								</td>
								<td>
									@item.Email
								</td>
								<td>
									@item.Firstname
								</td>
								<td>
									@item.Middlename
								</td>
								<td>
									@item.Lastname
								</td>
								<td>
									@item.ContactNo
								</td>
								<td>
									<a href="#" class="btn btn-primary" onclick="editForm(@item.UserId,1)"><i class="fas fa-search"></i></a> |
									<a href="#" id="editForm" onclick="editForm(@item.UserId,0)" class="btn btn-info"><i class="fa fa-edit"></i></a> |

									<a href="#" id="deleteform" class="btn btn-danger" onclick="deleteform(@item.UserId)"><i class="far fa-trash-alt"></i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>

			</div>
			</<div>
			</div>
			<div class="modal fade bd-example-modal-lg" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">User</h5>
							<button type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<form id="createForm">
							<div class="container mt-5">
								<input type="hidden" id="UserId" name="UserId" value="0">

								<div class="row mb-3">
									<div class="col-md-6">
										@* <label for="Username" class="col-form-label">Username:</label>
										<input type="text" class="form-control" id="Username" name="Username" maxlength="25"> *@
										<label for="Email" class="col-form-label required">Email:</label>
										<input class="form-control" id="Email" name="Email" maxlength="25" required></input>
									</div>
									<div class="col-md-6">
										<label for="Firstname" class="col-form-label required">Firstname:</label>
										<input class="form-control" id="Firstname" name="Firstname" maxlength="25" required></input>
									</div>
								</div>

								<div class="row mb-3">
									<div class="col-md-6">
										<label for="Middlename" class="col-form-label">Middlename:</label>
										<input class="form-control" id="Middlename" name="Middlename" maxlength="25"></input>
									</div>

									<div class="col-md-6">
										<label for="Lastname" class="col-form-label required">Lastname:</label>
										<input class="form-control" id="Lastname" name="Lastname" maxlength="25" required></input>
									</div>

								</div>

								<div class="row mb-3">								
									<div class="col-md-6">
										<label for="ContactNo" class="col-form-label">ContactNo:</label>
										<input class="form-control" id="ContactNo" name="ContactNo" maxlength="15" type="number"></input>
									</div>
									<div class="col-md-6">
										<label for="RoleId" class="col-form-label required">Role:</label>
										<input type="hidden" id="RoleId" name="RoleId" value="0">
										<select id="roleSelect" class="form-select" required>
											<option value="">Select Role</option>
										</select>

									</div>
								</div>

							</div>
							<div class="modal-footer">
								<button type="submit" class="btn btn-primary" id="btnSave">Save</button>
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</form>

					</div>
				</div>
			</div>
		</div>

		@section scripts {
			@* <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script> *@
			<script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>


			<script type="text/javascript">

				var js = jQuery.noConflict(true);

						$('.spinner-overlay').show();

				setTimeout(() => {
					$('.spinner-overlay').hide();
				}, 200);


				js(document).ready(function () {


					js('#tblUser').DataTable({
					});

					$('#createForm').submit(function (event) {
						event.preventDefault();

						document.getElementById("RoleId").value = $('#roleSelect').val();
						var formData = $(this).serialize();

						
						Swal.fire({
							text: "Are you sure you want to save this record?",
							icon: "question",
							showCancelButton: true,
							confirmButtonText: "Ok"
						}).then((result) => {
							if (result.isConfirmed) {
								$.ajax({
									type: 'POST',
									url: '@Url.Action("SaveUser", "Maintenance")',
									data: formData,
									success: function (response) {
										if (response.success) {
											$('#createForm')[0].reset();
											js('#createmodal').modal('hide');

											Swal.fire({
												text: response.message,
												icon: "success",
												confirmButtonText: "Ok"
											}).then((result) => {
												location.reload();
											});

										} else {
											Swal.fire({
												text: response.message,
												icon: "error"
											});
										}
									},
									error: function () {
										Swal.fire({
											text: "An error occurred. Please try again.",
											icon: "error"
										});
									}
								});
							}
						});
					});//submit
				});

				function newForm() {
					$.ajax({
						type: 'POST',
						url: '@Url.Action("EditUser", "Maintenance")',
						// data: { UserId: id },
						success: function (response) {
							console.log(response.data);
							if (response.success) {
								$('#UserId').val("");
								// $('#Username').val("");
								$('#Firstname').val("");
								$('#Middlename').val("");
								$('#Lastname').val("");
								$('#ContactNo').val("");
								$('#Email').val("");
								$('#RoleId').val(0);


								var $select = $('#roleSelect');
								$select.empty(); // Clear the current options
								$select.append('<option value="">Select Role</option>');

								$.each(response.data.options, function (index, item) {
									if (item.value == response.data.roleId) {
										$select.append('<option value="' + item.value + '" selected="selected">' + item.text + '</option>');
									} else {
										$select.append('<option value="' + item.value + '">' + item.text + '</option>');
									}
								});

								$('#createForm').find('input, select, textarea').prop('disabled', false);
								$('#btnSave').show();

								js('#createmodal').modal('show');
							} else {
								Swal.fire({
									text: response.message,
									icon: "error"
								});
							}
						},
						error: function () {
							Swal.fire({
								text: "An error occurred. Please try again.",
								icon: "error"
							});
						}
					});
				}

				function editForm(id,view) {
					$.ajax({
						type: 'POST',
						url: '@Url.Action("EditUser", "Maintenance")',
						data: { UserId: id },
						success: function (response) {
							console.log(response.data);
							if (response.success) {
								$('#UserId').val(response.data.userId);
								$('#Username').val(response.data.username);
								$('#Firstname').val(response.data.firstname);
								$('#Middlename').val(response.data.middlename);
								$('#Lastname').val(response.data.lastname);
								$('#ContactNo').val(response.data.contactNo);
								$('#Email').val(response.data.email);
								$('#RoleId').val(response.data.roleId);


								var $select = $('#roleSelect');
								$select.empty(); // Clear the current options
								$select.append('<option value="">Select Role</option>');

								$.each(response.data.options, function (index, item) {
									if (item.value == response.data.roleId) {
										$select.append('<option value="' + item.value + '" selected="selected">' + item.text + '</option>');
									} else {
										$select.append('<option value="' + item.value + '">' + item.text + '</option>');
									}
								});

								if (view == 1) {	//View button
									$('#createForm').find('input, select, textarea').prop('disabled', true);
									$('#btnSave').hide();
								}
								else {  //Edit button
									$('#createForm').find('input, select, textarea').prop('disabled', false);
									$('#btnSave').show();
								}

								js('#createmodal').modal('show');
							} else {
								Swal.fire({
									text: response.message,
									icon: "error"
								});
							}
						},
						error: function () {
							Swal.fire({
								text: "An error occurred. Please try again.",
								icon: "error"
							});
						}
					});
				}
								 
				function deleteform(id) {
					Swal.fire({
						text: "Are you sure you want to delete this record?",
						icon: "warning",
						showCancelButton: true,
						confirmButtonText: "Yes, delete it!"
					}).then((result) => {
						if (result.isConfirmed) {
							$.ajax({
								type: 'POST',
								url: '@Url.Action("DeleteUser", "Maintenance")',
								data: { UserId: id },
								success: function (response) {
									if (response.success) {
										Swal.fire({
											text: response.message,
											icon: "success",
											confirmButtonText: "Ok"
										}).then((result) => {
											location.reload();
										});
									} else {
										Swal.fire({
											text: response.message,
											icon: "error"
										});
									}
								},
								error: function () {
									Swal.fire({
										text: "An error occurred. Please try again.",
										icon: "error"
									});
								}
							});
						}
					});
				}

			</script>
		}
