@model DCI.Models.ViewModel.UserViewModel

<link href="~/css/DCIcustom.css" rel="stylesheet" />

<div class="d-sm-flex align-items-center justify-content-between mb-3">
	<h6 class="m-0 font-weight-bold text-gray-800">Profile</h6>

	<div class="upperRightDivBtn">	
		<a asp-controller="Home" asp-action="ChangePass" class="btn btn-secondary btn-icon-split">
			<span class="icon"><i class="fas fa-lock text-xs"></i></span>
			<span class="text"><small>Change Password</small></span>
		</a>
	</div>
</div>
<div class="col-12 p0">
	<ul class="breadcrumb">
		<li><a href="~/Home/Index">Dashboard</a></li>
		<li>Profile</li>
	</ul>
</div>


<div class="card shadow">
	<div class="card-header py-3">
		<h5 class="text-gray-800 mb0"></h5>
	</div>
	<div class="card-body">
		<div class="spinner-overlay">
		<div class="spinner-border text-light" role="status">
			<span class="visually-hidden">Loading...</span>
		</div>
	</div>

		<div class="cardTitle">
			<label>My Profile</label>
			<p>Manage and protect your account</p>
		</div>
		<form id="createForm">
			<input type="hidden" id="UserId" name="UserId" value="@Model.UserId">
			<input type="hidden" id="RoleId" name="RoleId" value="@Model.RoleId">
			<div class="form-group">
				<label class="frmText">Email Address:</label>
				<input type="text" class="form-control frmField" id="Email" name="Email" value="@Model.Email" readonly>			
			</div>

			<div class="form-group">
				<label class="frmText">First Name:</label>
				<input type="text" class="form-control frmField" id="Firstname" name="Firstname" value="@Model.Firstname">
			</div>

			<div class="form-group">
				<label class="frmText">Middle Name:</label>
				<input type="text" class="form-control frmField" id="Middlename" name="Middlename" value="@Model.Middlename">
			</div>

			<div class="form-group">
				<label class="frmText">Last Name:</label>
				<input type="text" class="form-control frmField" id="Lastname" name="Lastname" value="@Model.Lastname">
			</div>

			<div class="form-group">
				<label class="frmText">Gender:</label>
				<select class="form-control frmField" name="GENDER">
					<option value="MALE" selected>Male</option>
					<option value="FEMALE">Female</option>
				</select>
			</div>
			<div class="form-group mt30">
				<button type="submit" class="btn btn-primary" onclick="Save()"><small>Update</small></button>
				@* 	<a href="~/Home/" class="btn btnSecondary pr30 pl30 pt10 pb10"><small>Back</small></a> *@
				<a asp-controller="Home" asp-action="Index" class="btn btn-secondary"><small>Back</small></a>
			</div>
		</form>
	</div>


	@section scripts {
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
		<script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>


		<script type="text/javascript">

			var js = jQuery.noConflict(true);

				$('.spinner-overlay').show();

				setTimeout(() => {
					$('.spinner-overlay').hide();
				}, 200);


			js(document).ready(function () {


			});

			function Save() {
				event.preventDefault();
				//var formData = $(this).serialize();
				const formData = new Object();
				formData.UserId = $('#UserId').val();
				formData.RoleId = $('#RoleId').val();
				formData.Email = $('#Email').val();
				formData.Firstname = $('#Firstname').val();
				formData.Middlename = $('#Middlename').val();
				formData.Lastname = $('#Lastname').val();


				bootbox.confirm('Are you sure you want to save this record?', function (result) {
					if (result) {

						$.ajax({
							type: 'POST',
							url: '@Url.Action("SaveUser", "Maintenance")',
							data: formData,
							success: function (response) {
								if (response.success) {
									bootbox.alert(response.message, function () {
										location.reload();
									});
								} else {
									bootbox.alert(response.message);
								}
							},
							error: function () {
								bootbox.alert('An error occurred. Please try again.');
							}
						});
					}
				});
			}
		</script>
	}
