@model DCI.Models.ViewModel.OvertimeViewModel
@using Newtonsoft.Json;
@using DCI.Core.Common;
@using DCI.Models.ViewModel;

<link href="~/css/dcicustom.css" rel="stylesheet" />

@{
    var modulePageAccess = Context.Session.GetString("ModulePageAccess");
    var canView = false;
    var canAdd = false;
    var canEdit = false;
    var canDelete = false;

    if (modulePageAccess == null)
    {
        <script>
            $.ajax({
            type: 'POST',
            url: '@Url.Action("Logout", "Account")',
            success: function (response) {

            Swal.fire({
            text: "Your session has timed out. Please log in again.",
            icon: "info",
            confirmButtonText: "Ok"
            }).then((result) => {
            window.location.href = '/Account/Logout';
            });
            },
            error: function () {
            Swal.fire({
            text: "An error occurred. Please try again.",
            icon: "error"
            });
            }
            })
        </script>
    }
    else
    {
        var module = JsonConvert.DeserializeObject<List<ModuleInRoleViewModel>>(modulePageAccess)?
                    .FirstOrDefault(x => x.ModulePageId == (int)EnumModulePage.Overtime);
        canView = module?.View ?? false;
        canAdd = module?.Add ?? false;
        canEdit = module?.Update ?? false;
        canDelete = module?.Delete ?? false;
    }

}

<div class="container-fluid">
    <div class="spinner-overlay">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h6 class="m-0 font-weight-bold text-gray-800">@ViewBag.BreadCrumbLabel</h6>
        <div class="upperRightDivBtn">
            <a href="#" title="Add Overtime" class="btn btnPrimary btn-icon-split @(canAdd ? "" : "disabled")" data-toggle="modal" data-target="#" onclick="newForm()" id="AddOvertime">
                <span class="icon text-white"><i class="fa-solid fa-plus text-xs"></i></span>
                <span class="text text-white"><small>Add Overtime</small></span>
            </a>
            <a href="#" title="Submit" class="btn btnPrimary btn-icon-split @(canAdd ? "" : "disabled")" data-toggle="modal" data-target="#" onclick="save()" id="Submit">
                <span class="icon text-white"><i class="fa fa-paper-plane" aria-hidden="true"></i></span>
                <span class="text text-white"><small>Submit</small></span>
            </a>
        </div>

    </div>
    <div class="col-12 p0">
        <ul class="breadcrumb">
            <li><a href="~/Home/Index">Dashboard</a></li>
            <li><a href="#">Daily Time Record</a></li>
            <li><a href="~/DailyTimeRecord/Overtime">Overtime</a></li>
            <li><a href="#">File Overtime</a></li>
        </ul>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header">
            <label class="mb0">Details</label>
        </div>
        <div class="card-body">
            <div class="table-responsive mt20">
                <div id="otinfo">
                    @* hidden *@
                    <div class="row">
                        <input type="hidden" id="OTHeaderId" name="OTHeaderId"  value="@Model.OTHeaderId"/>
                        <input type="hidden" id="EmployeeId" name="EmployeeId" value="@Model.EmployeeId" />
                        <div class="col-md-6">
                            <label class="frmText">Request No</label>
                            <input type="text" min="0" step="any" id="RequestNo" name="RequestNo" class="form-control frmField" readonly="true" value="@Model.RequestNo" placeholder="(System-Generated)">
                        </div>
                        <div class="col-md-6">
                            <label class="frmText">Status</label>
                            <input type="text" min="0" step="any" id="StatusId" name="StatusId" class="form-control frmField" readonly="true" value="@Model.StatusName">
                        </div>
                    </div>
                    <div class="row">                  
                        <div class="col-md-6">
                            <label class="frmText" id="ApproverLabel">For Approval of: </label>
                            <input type="text" min="0" step="any" id="ApprovedBy" name="ApprovedBy" class="form-control frmField" readonly="true" value="@Model.ApprovedBy">
                        </div>
                        <div class="col-md-6">
                            <label class="frmText">Total</label>
                            <input type="text" min="0" step="any" id="GrandTotal" name="GrandTotal" class="form-control frmField" readonly="true" value="0">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label class="frmText"><span class="required">*</span>Reason</label>
                        @if(Model.OTHeaderId == 0)
                        {
                            <input type="text" id="Remarks" name="Remarks" class="form-control frmField" value="@Model.Remarks" required autocomplete="off">
                        }
                        else
                        {
                            <input type="text" id="Remarks" name="Remarks" class="form-control frmField" value="@Model.Remarks" readonly autocomplete="off">
                        }

                    </div>

                </div>         


                <table id="otTable" class="table table-bordered mt-3">
                    <thead>
                        <tr>                 
                            <th>Overtime Type</th>
                            <th>Date</th>
                            <th>Time From</th>
                            <th>Time To</th>
                            <th>Total Hours</th>
                            <th hidden>Total Minutes</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model != null && Model.otDetails.Count > 0)
                        {
                            //  @foreach (var item in Model.otDetails)
                            @foreach (var item in Model.otDetails.Select((value, index) => new { value, index }))
                            {
                                <tr>

                                    <td>
                                        @item.value.OTTypeName
                                    </td>
                                    <td>
                                        @item.value.OTDateString
                                    </td>
                                    <td>
                                        @*  @item.OTTimeFrom *@
                                        @item.value.OTTimeFrom
                                    </td>
                                    <td>
                                        @*  @item.OTTimeTo *@
                                        @item.value.OTTimeTo
                                        @*  .ToString("HH:mm") *@
                                    </td>

                                    <td>
                                        @item.value.TotalHours
                                    </td>
                                    <td hidden>
                                        @item.value.TotalMinutes
                                    </td>

                                    <td hidden>
                                        <input type="hidden" name="OvertimeEntries[@item.index].OTHeaderId" value="@item.value.OTHeaderId" />
                                        <input type="hidden" name="OvertimeEntries[@item.index].OTDetailId" value="@item.value.OTDetailId" />
                                        <input type="hidden" name="OvertimeEntries[@item.index].OTType" value="@item.value.OTType" />
                                        <input type="hidden" name="OvertimeEntries[@item.index].OTTypeName" value="@item.value.OTTypeName" />
                                        <input type="hidden" name="OvertimeEntries[@item.index].OTDate" value="@item.value.OTDate" />
                                        <input type="hidden" name="OvertimeEntries[@item.index].OTDateString" value="@item.value.OTDateString" />
                                        <input type="hidden" name="OvertimeEntries[@item.index].OTTimeFrom" value="@item.value.OTTimeFrom" />
                                        <input type="hidden" name="OvertimeEntries[@item.index].OTTimeTo" value="@item.value.OTTimeTo" />
                                        <input type="hidden" name="OvertimeEntries[@item.index].TotalHours" value="@item.value.TotalHours" />
                                        <input type="hidden" name="OvertimeEntries[@item.index].TotalMinutes" value="@item.value.TotalMinutes" />
                                    </td>
                                    <td>
                                        @if (Model.OTHeaderId == 0)
                                        {
                                            <button type="button" class="btn btn-sm btn-danger remove-row">Remove</button>
                                        }
                                    </td>
                                </tr>
                            }                            
                        }
                        else
                        {
                            <tr>
                                <td colspan="5" class="text-center text-muted">
                                    No overtime requests found.
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
</<div>
</div>


            <div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Overtime</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="createForm">
                            <div class="modal-body">
                                <div class="form-group">

                                    <div class="form-check form-check-inline" style="padding:initial">
                                        <input type="checkbox" class="form-check-input-checkbox" id="chkOB" name="chkOB">
                                        <label class="form-check-label" for="chkOB">Official Business</label>
                                    </div>
                                    </br>
                                    <label class="frmText"><span class="required">*</span> Date: </label>
                                    <div class="input-group">
                                        <input type="text" name="OTDate" id="OTDate" class="form-control frmField" onchange="checkOvertimeDate()">
                                        <div class="input-group-prepend prependBtn">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                    <label for="OTDate" generated="true" class="error"></label>


                                    <div id="timeparam">
                                        <label class="frmText"><span class="required">*</span> Time From: </label>
                                        <div class="input-group clockpicker" data-autoclose="true">
                                            <input type="text" name="OTTimeFrom" id="OTTimeFrom" class="form-control frmField" autocomplete="off" readonly placeholder="24-Hour Format">
                                            <div class="input-group-prepend prependBtn">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                              @*           <div class="input-group clockpicker" data-autoclose="true">
                                            <input type="text" name="OTTimeFrom" id="OTTimeFrom" class="form-control frmField" value="" readonly>
                                            <div class="input-group-prepend prependBtn">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div> *@
                                        <label for="OTTimeFrom" generated="true" class="error"></label>
                                        <label class="frmText"><span class="required">*</span> Time To: </label>
                                        <div class="input-group clockpicker" data-autoclose="true">
                                            <input type="text" name="OTTimeTo" id="OTTimeTo" class="form-control frmField" autocomplete="off" readonly placeholder="24-Hour Format">
                                            <div class="input-group-prepend prependBtn">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div>
                                   @*      <div class="input-group clockpicker" data-autoclose="true">
                                            <input type="text" name="OTTimeTo" id="OTTimeTo" class="form-control frmField" value="" readonly>
                                            <div class="input-group-prepend prependBtn">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                        </div> *@
                                        <label for="OTTimeTo" generated="true" class="error"></label>
                                    </div>


                               @*      <div class="input-group clockpicker" data-autoclose="true">
                                        <input type="text" class="form-control" value="09:30">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>

                                    <div class="input-group clockpicker" data-autoclose="true">
                                        <input type="text" class="form-control" value="09:30">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div> *@
                                </div>                       

                            </div>
                            <div class="modal-footer">
                                <button type="button" id="addBtn" class="btn btn-primary">Add</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><small>Close</small></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
         

@section scripts {
                <link href="~/js/clockpicker/src/clockpicker.css" rel="stylesheet" />
                <script src="~/js/clockpicker/src/clockpicker.js"></script>


                <script type="text/javascript">
                            var js = jQuery.noConflict(true);
                                               let fromTime = null;
                        let toTime = null;

                                    $('.spinner-overlay').show();

                        setTimeout(() => {
                            $('.spinner-overlay').hide();
                        }, 200);


                            $(document).ready(function () {
                             
                                  var otHeaderId = $('#OTHeaderId').val();
                                   var statusName = $('#StatusId').val();
                                 
                                  if(otHeaderId > 0){
                                         $("#AddOvertime").prop("hidden", true);
                                               $("#Submit").prop("hidden", true);
                                       
                                  }else{
                                        $("#AddOvertime").prop("hidden", false);
                                               $("#Submit").prop("hidden", false);
                                  }
                                  // if(statusName== "Pending" || statusName== "Approved" ){
                                  //        $("#AddOvertime").prop("hidden", true);
                                  //              $("#Submit").prop("hidden", true);
                                  // }

       

                                //  document.getElementById("timeparam").style.display = 'none';


                                js('#tblDTR').DataTable({
                                     order: [[2, 'desc']]
                                });


                                       flatpickr("#OTDate", {
                                                    enableTime: false,
                                                   dateFormat: "Y-m-d",
                                                        time_24hr: true,
                                                        maxDate: new Date().fp_incr(-1),
                                                 onChange: function(selectedDates, dateStr, instance) {
                                                      }
                                                });
                                                                    // js('.xx').clockpicker();
                                                                           // js('.OTTimeFrom').clockpicker();
                                                                           //   js('.OTTimeTo').clockpicker();
                                                                           js('.clockpicker').clockpicker();

                                                //    flatpickr("#OTTimeFrom", {
                                                //              enableTime: true,
                                                //              noCalendar: true,
                                                //               dateFormat: "H:i",
                                                //               onChange: function(selectedDates) {
                                                //               fromTime = selectedDates[0];
                                                //               //calculateDuration();
                                                //             }
                                                //         });

                                                //        flatpickr("#OTTimeTo", {
                                                //                  enableTime: true,
                                                //          noCalendar: true,
                                                //         dateFormat: "H:i",
                                                //          onChange: function(selectedDates) {
                                                //       toTime = selectedDates[0];
                                                //      // calculateDuration();
                                                //     }
                                                // });
                            });


                                  function newForm(dtr) {
                               // console.log(dtr)

                                  // const timefrom = document.querySelector("#OTTimeFrom")._flatpickr;
                                  //                    timefrom.clear();
                                  // const timeto = document.querySelector("#OTTimeTo")._flatpickr;
                                  //                    timeto.clear();
                                               js('.clockpicker').clockpicker();
                                                 $('#OTTimeFrom').val("");  
                                                 $('#OTTimeTo').val("");
                                               
                                                                     // js('.xx').clockpicker();
                                            // js('.OTTimeFrom').clockpicker();
                                            //                                  js('.OTTimeTo').clockpicker();

                                    js('#createmodal').modal('show');
                            }
                         
                             function checkOvertimeDate() {
                               event.preventDefault();

                              var _date =  $('#OTDate').val();
                                        const payload = {
                                                        OTType : 0,
                                                        OTTypeName : '',
                                                        OTDate: _date,
                                                        OTTimeFrom : '',
                                                        OTTimeTo : '',
                                                        TotalMinutes : 0,
                                                        TotalHours: '',
                                                           EmployeeNo: '',
                                                    }

                                         $.ajax({
                                              type: 'POST',
                                              url: '@Url.Action("CheckOvertimeDate", "DailyTimeRecord")',
                                               data: JSON.stringify(payload),
                                                    contentType: 'application/json; charset=utf-8',
                                              success: function (response) {
                                                
                                                  if (response.success) {
                                                                 
                                                                   // Swal.fire({
                                                                   //     text: response.message,
                                                                   //     icon: "success",
                                                                   //     confirmButtonText: "Ok"
                                                                   // }).then((result) => {
                                                                       
                                                                   // });
                                                  } else {

                                                      Swal.fire({
                                                          text: response.message,
                                                          icon: "error"
                                                      });
                                                  }
                                                  $('.spinner-overlay').hide();
                                              },
                                              error: function () {
                                                  $('.spinner-overlay').hide();
                                                  Swal.fire({
                                                      text: "An error occurred. Please try again.",
                                                      icon: "error"
                                                  });
                                              }
                                          });//ajax

                             }

                             function save() {
                               const entries = collectOvertimeEntries();
                                           const _remarks = $('#Remarks').val();

                                                 if(entries.length ==0){
                       
                                                     Swal.fire({
                                                                text: "Please file overtime before submitting.",
                                                                icon: "error"
                                                            });
                                                          return;
                                               }
                                                if(_remarks == "" ){

                                             Swal.fire({
                                                                        text: "Remarks is required.",
                                                                        icon: "error"
                                                                    });
                                           return;
                                       }

                                                

                               const _otHeaderId =$('#OTHeaderId').val();
                               const _otdate =$('#OTDate').val();
                               const _timefrom =  $('#OTTimeFrom').val();
                               const _timeto = $('#OTTimeTo').val();
                   
                               const ischkOB = document.getElementById("chkOB");

                                  const payload = {
                                                 OTHeaderId: _otHeaderId,
                                                OTDate: _otdate,
                                                OTTimeFrom : _timefrom,
                                                OTTimeTo : _timeto,
                                                IsOfficialBuss : ischkOB.checked,
                                                Remarks : _remarks,
                                                otDetails : entries   // your list of entries
                                            }

                                   console.log(payload)

                                                    Swal.fire({
                                            text: "Are you sure you want to save this record?",
                                            icon: "question",
                                            showCancelButton: true,
                                            confirmButtonText: "Ok"
                                        }).then((result) => {
                                            if (result.isConfirmed) {
                                                $('.spinner-overlay').show();
                                                $.ajax({
                                                    type: 'POST',
                                                    url: '@Url.Action("SaveOvertime", "DailyTimeRecord")',
                                                      data: JSON.stringify(payload),
                                                    contentType: 'application/json; charset=utf-8',
                                                    //  dataType: 'json',
                                                    success: function (response) {
                                                        if (response.success) {
                                                            // $('#createForm')[0].reset();
                                                            // js('#createmodal').modal('hide');

                                                            Swal.fire({
                                                                text: response.message,
                                                                icon: "success",
                                                                confirmButtonText: "Ok"
                                                            }).then((result) => {
                                                                //location.reload();
                                                                window.location.href = '/DailyTimeRecord/Overtime';
                                                            });

                                                        } else {
                                                            Swal.fire({
                                                                text: response.message,
                                                                icon: "error"
                                                            });
                                                        }
                                                        $('.spinner-overlay').hide();
                                                    },
                                                    error: function () {
                                                        $('.spinner-overlay').hide();
                                                        Swal.fire({
                                                            text: "An error occurred. Please try again.",
                                                            icon: "error"
                                                        });
                                                    }
                                                });
                                            }
                                        });
                             }



                                                 function collectEntries() {
                                  const rows = document.querySelectorAll('#otTable tbody tr');
                                  return Array.from(rows).map(r => {
                                    return {
                                      otType: r.querySelector('input[name^="Entries"][name$=".OTType"]')?.value,
                                      otDate: r.querySelector('input[name^="Entries"][name$=".OTDate"]')?.value,
                                      otTimeFrom: r.querySelector('input[name^="Entries"][name$=".OTTimeFrom"]')?.value,
                                      otTimeTo: r.querySelector('input[name^="Entries"][name$=".OTTimeTo"]')?.value,
                                      totalMinutes: parseInt(r.querySelector('input[name^="Entries"][name$=".TotalMinutes"]')?.value, 10) || 0
                                    };
                                  });
                             }

                    // function calculateDuration() {
                    //       if (fromTime && toTime) {
                    //         // Set both times on the same day
                    //         const baseDate = new Date();
                    //         const from = new Date(baseDate);
                    //         from.setHours(fromTime.getHours(), fromTime.getMinutes(), 0, 0);

                    //         const to = new Date(baseDate);
                    //         to.setHours(toTime.getHours(), toTime.getMinutes(), 0, 0);

                    //         // Handle crossing midnight
                    //         if (to < from) {
                    //           to.setDate(to.getDate() + 1);
                    //         }

                    //         const diffMs = to - from;
                    //         const diffMins = Math.floor(diffMs / 60000);
                    //         const hours = Math.floor(diffMins / 60);
                    //         const minutes = diffMins % 60;

                    //         document.getElementById("totalTime").innerText =
                    //           `Total: ${hours} hour(s) and ${minutes} minute(s)`;
                    //       }
                    //     }

                      
                </script>

                <script>
                       let entryIndex = 0;

                     function parseTime(str) {
                       const parts = str.split(':');
                       if (parts.length !== 2) return null;
                       const h = parseInt(parts[0], 10);
                       const m = parseInt(parts[1], 10);
                       if (isNaN(h) || isNaN(m) || h < 0 || h > 23 || m < 0 || m > 59) return null;
                       return { h, m };
                     }

                     function computeDuration(fromStr, toStr) {
                       const from = parseTime(fromStr);
                       const to = parseTime(toStr);
                       if (!from || !to) return null;
                       let fromMinutes = from.h * 60 + from.m;
                       let toMinutes = to.h * 60 + to.m;
                       if (toMinutes < fromMinutes) {
                         toMinutes += 24 * 60;
                       }
                       return toMinutes - fromMinutes; // minutes
                     }

                     function formatMinutes(totalMinutes) {
                       const h = Math.floor(totalMinutes / 60);
                       const m = totalMinutes % 60;
                       return `${h} hours(s) ${m} minute(s)`;
                     }

                     // function updateGrandTotal() {
                     //   const rows = document.querySelectorAll('#otTable tbody tr');
                     //   console.log(rows)
                     //   let sumMinutes = 0;
                     //   rows.forEach(r => {
                     //     const cell = r.children[5]; // Total Hours column
                     //      console.log(cell)
                     //     if (!cell) return;
                     //     const text = cell.textContent.trim(); // e.g., "2h 30m"

                     //        console.log(text)
                     //     const match = text.match(/(\d+)h\s*(\d+)m/);
                     //                   console.log(match)
                     //     if (match) {
                     //       const h = parseInt(match[1], 10);
                     //       const m = parseInt(match[2], 10);
                     //       sumMinutes += h * 60 + m;
                     //     }
                     //   });

                     //  // alert(sumMinutes);
                     //  //  document.getElementById('Total').innerHTML = `<strong>Grand Total:</strong> ${formatMinutes(sumMinutes)}`;
                     // }

                                         function recomputeGrandTotal() {
                        let total = 0;

                        // loop over all hidden totalMinutes inputs
                        $('#otTable tbody tr').each(function () {
                            const minutes = parseInt($(this).find('input[name*=".TotalMinutes"]').val()) || 0;
                            total += minutes;
                        });
                        console.log(total)

                        // update a label or hidden field
                       // $('#GrandTotal').text('Grand Total: ' + total + ' minutes');
                       // $('#grandTotalMinutes').val(total); // hidden field for saving to DB
                       $('#GrandTotal').val(formatMinutes(total))
                    }



                    document.getElementById('addBtn').addEventListener('click', function () {
                               document.querySelectorAll('.error').forEach(e => e.textContent = '');


                               const date = document.getElementById('OTDate').value.trim();
                               const from = document.getElementById('OTTimeFrom').value.trim();
                               const to = document.getElementById('OTTimeTo').value.trim();
                            //   const ischkOB = $("#chkOB").val(); //document.getElementById("chkOB");
                             //  let ischeckbox = ischkOB.checked;


                             //  console.log(ischeckbox);
                               let hasError = false;
                               // if (typeVal === '0') {
                               //   hasError = true;
                               //   alert('Please select a Type.');
                               // }
                                if (!date) {
                                  hasError = true;
                                  document.querySelector('label[for="OTDate"]').textContent = 'Required';
                                }



                                    // if (!from) {
                                    //   hasError = true;
                                    //   document.querySelector('label[for="OTTimeFrom"]').textContent = 'Required';
                                    // }
                                    // if (!to) {
                                    //   hasError = true;
                                    //   document.querySelector('label[for="OTTimeTo"]').textContent = 'Required';
                                    // }


                               if (hasError) return;

                               if (dateAlreadyExists(date)) {
                               //  alert('An entry for that date already exists. You cannot add a duplicate date.');
                                   Swal.fire({
                                                                text: "An entry for that date already exists. You cannot add a duplicate date.",
                                                                icon: "error"
                                                            });
                                 return;
                               }

                               const entries = collectOvertimeEntries();


                                           const _otdate =$('#OTDate').val();
                                   const _timefrom =  $('#OTTimeFrom').val();
                                   const _timeto = $('#OTTimeTo').val();
                                   const ischkOB = document.getElementById("chkOB");


                                       // EmployeeNo: '',
                                       //                   OTDetailId: 0 ,
                                       //                   OTHeaderId: 0,
                                       //                   OTType : 0,
                                       //                   OTTypeName : '',
                                       //                   OTDateString : '',
                                       //                   TotalMinutes: 0,
                                       //                   TotalHours : '',


                                                     const payload = {
                                                        OTDate: _otdate,
                                                        OTTimeFrom : _timefrom,
                                                        OTTimeTo : _timeto,
                                                        IsOfficialBuss : ischkOB.checked,
                                                        otDetails: entries
                                                        //otDetails: null
                                                    }
                                                        console.log(payload);
                                                         console.log(entries);

                                                        $.ajax({
                                                            type: 'POST',
                                                            url: '@Url.Action("CategorizeOvertime", "DailyTimeRecord")',
                                                           // data: { OTDate : _otdate },
                                                              contentType: 'application/json; charset=utf-8',
                                                              //    processData: false,
                                                        // contentType: false,
                                                               data: JSON.stringify(payload),
                                                               //data: { entriesx : entries },

                                                            success: function (response) {
                                                                if (response.success) {

                                                                    console.log(response.data)

                                                                let tbodytable = $('#otTable tbody'); // define this first

                                                                if (response.data && response.data.length > 0) {
                                                                    tbodytable.empty(); // clear existing rows (optional)

                                                                                  response.data.forEach(function(item, index) {
                                                                                        var row = `<tr>
                                                                                            <td>${item.otTypeName}</td>
                                                                                            <td>${item.otDateString}</td>
                                                                                            <td>${item.otTimeFrom}</td>
                                                                                            <td>${item.otTimeTo}</td>
                                                                                            <td>${item.totalHours}</td>
                                                                                            <td hidden>${item.totalMinutes}</td>
                                                                                            <td hidden>
                                                                                                <input type="hidden" name="OvertimeEntries[${index}].OTHeaderId" value="${item.otHeaderId}">
                                                                                                <input type="hidden" name="OvertimeEntries[${index}].OTDetailId" value="${item.otDetailId}">
                                                                                                <input type="hidden" name="OvertimeEntries[${index}].OTType" value="${item.otType}">
                                                                                                <input type="hidden" name="OvertimeEntries[${index}].OTTypeName" value="${item.otTypeName}">
                                                                                                <input type="hidden" name="OvertimeEntries[${index}].OTDate" value="${item.otDate}">
                                                                                                <input type="hidden" name="OvertimeEntries[${index}].OTDateString" value="${item.otDateString}">
                                                                                                <input type="hidden" name="OvertimeEntries[${index}].OTTimeFrom" value="${item.otTimeFrom}">
                                                                                                <input type="hidden" name="OvertimeEntries[${index}].OTTimeTo" value="${item.otTimeTo}">
                                                                                                <input type="hidden" name="OvertimeEntries[${index}].TotalHours" value="${item.totalHours}">
                                                                                                <input type="hidden" name="OvertimeEntries[${index}].TotalMinutes" value="${item.totalMinutes}">
                                                                                            </td>
                                                                                            <td><button type="button" class="btn btn-sm btn-danger remove-row">Remove</button></td>
                                                                                        </tr>`;
                                                                                        tbodytable.append(row);
                                                                                    });

                                                                                    } else {
                                                                                        tbodytable.html(`<tr><td colspan="7" class="text-center">No record found.</td></tr>`);
                                                                                    }

                                                                                    recomputeGrandTotal();

                                                                                              entryIndex++;
                                                                                            //  updateGrandTotal();
                                                                                      js('#createmodal').modal('hide');



                                                                } else {
                                                                    Swal.fire({
                                                                        text: response.message,
                                                                        icon: "error"
                                                                    });
                                                                }
                                                                $('.spinner-overlay').hide();
                                                            },
                                                            error: function () {
                                                                $('.spinner-overlay').hide();
                                                                Swal.fire({
                                                                    text: "An error occurred. Please try again.",
                                                                    icon: "error"
                                                                });
                                                            }
                                                        });



                               //updateGrandTotal();
                              // js('#createmodal').modal('hide');
                             });


                     // Delegate removal and update grand total
                     document.querySelector('#otTable tbody').addEventListener('click', function (e) {
                       if (e.target.matches('.remove-row')) {
                         const row = e.target.closest('tr');
                         row.remove();
                       //  updateGrandTotal();
                               recomputeGrandTotal();
                       }
                     });

                               document.getElementById('chkOB').addEventListener('click', function () {
                                    //  document.getElementById("timeparam").style.display = this.checked ? 'block' : 'none';
                             });



                     function dateAlreadyExists(dateStr) {
                       const rows = document.querySelectorAll('#otTable tbody tr');




                       for (const r of rows) {
                         const existingDate = r.children[1]?.textContent.trim(); // Date column
                         if (existingDate === dateStr) return true;
                       }
                       return false;
                     }



                     function collectOvertimeEntries() {
                        const entries = [];

                        $('#otTable tbody tr').each(function () {
                            const row = $(this);
                            const entry = {
                            
                                                                    employeeNo: '',
                                                         otDetailId:  row.find('input[name*=".OTDetailId"]').val() ,
                                                         otHeaderId: row.find('input[name*=".OTHeaderId"]').val() ,
                                                         otType : row.find('input[name*=".OTType"]').val(),
                               otDate: row.find('input[name*=".OTDate"]').val(),
                               otTypeName: row.find('input[name*=".OTTypeName"]').val(),
                                    otDateString: row.find('input[name*=".OTDateString"]').val(),
                                otTimeFrom: row.find('input[name*=".OTTimeFrom"]').val(),
                                otTimeTo: row.find('input[name*=".OTTimeTo"]').val(),
                                totalHours: row.find('input[name*=".TotalHours"]').val(),
                                totalMinutes: parseInt(row.find('input[name*=".TotalMinutes"]').val()) || 0
                            };
                            if (entry.otDate) {
                                entries.push(entry);
                            }
                        });

                        return entries;
                    }
                </script>
}
    
