@model IEnumerable<DCI.Models.ViewModel.DailyTimeRecordViewModel>
@using Newtonsoft.Json;
@using DCI.Core.Common;
@using DCI.Models.ViewModel;

<link href="~/css/dcicustom.css" rel="stylesheet" />

@{
    var modulePageAccess = Context.Session.GetString("ModulePageAccess");
    var canView = false;
    var canAdd = false;
    var canEdit = false;
    var canDelete = false;

    if (modulePageAccess == null)
    {
        <script>
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Logout", "Account")',
                success: function (response) {

                    Swal.fire({
                        text: "Your session has timed out. Please log in again.",
                        icon: "info",
                        confirmButtonText: "Ok"
                    }).then((result) => {
                        window.location.href = '/Account/Logout';
                    });
                },
                error: function () {
                    Swal.fire({
                        text: "An error occurred. Please try again.",
                        icon: "error"
                    });
                }
            })
        </script>
    }
    else
    {
        var module = JsonConvert.DeserializeObject<List<ModuleInRoleViewModel>>(modulePageAccess)?
                    .FirstOrDefault(x => x.ModulePageId == (int)EnumModulePage.Department);
        canView = module?.View ?? false;
        canAdd = module?.Add ?? false;
        canEdit = module?.Update ?? false;
        canDelete = module?.Delete ?? false;
    }

}

<div class="container-fluid">
    <div class="spinner-overlay">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h6 class="m-0 font-weight-bold text-gray-800">Attendance</h6>
        @*        <div class="upperRightDivBtn">
            <a href="#" title="Add Department" class="btn btnPrimary btn-icon-split @(canAdd ? "" : "disabled")" data-toggle="modal" data-target="#" onclick="newForm()">
                <span class="icon text-white"><i class="fa-solid fa-plus text-xs"></i></span>
                <span class="text text-white"><small>Add Department</small></span>
            </a>
        </div> *@

    </div>
    <div class="col-12 p0">
        <ul class="breadcrumb">
            <li><a href="~/Home/Index">Dashboard</a></li>
            <li><a href="#">Daily Time Record</a></li>
            <li><a href="#">Attendance</a></li>
    @*         <li><a asp-controller="DailyTimeRecord" asp-action="Attendance" asp-route-id="1">Attendance</a></li> *@
        </ul>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header">
            <label class="mb0">Data</label>
        </div>
        <div class="card-body">
            <div class="table-responsive mt20">
                <table class="table table-bordered" id="tblDTR">
                    <thead>
                        <tr>
                            <th>
                                <label>Employee No.</label>
                            </th>
                            <th>
                                <label>Name</label>
                            </th>
                            <th>
                                <label>Date</label>
                            </th>
                            <th>
                                <label>Time In</label>
                            </th>
                            <th>
                                <label>Time Out</label>
                            </th>
                            <th>
                                <label>Late</label>
                            </th>
                            <th>
                                <label>Undertime</label>
                            </th>
                            <th>
                                <label>Source</label> 
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>

                                <td>
                                    @item.EMPLOYEE_NO
                                </td>
                                <td>
                                    @item.NAME
                                </td>
                                <td>
                                    @item.DATE.ToShortDateString()
                                </td>
                                <td>
                                    @item.FIRST_IN
                                </td>
                                <td>
                                    @item.LAST_OUT
                                </td>
                                <td>
                                    @item.LATE
                                </td>
                                <td>
                                    @item.UNDER_TIME
                                </td>
                                <td>
                                    @if(item.SOURCE == "BIOMETRICS")
                                    {
                                        <span class="btnSuccess applicationStatus">@item.SOURCE</span>
                                    }
                                    else
                                    {
                                        <span class="btnPrimary applicationStatus">@item.SOURCE</span>
                                    }                                   
                                </td>
                                @*       <td class="text-center">
                                    <a href="#" onclick="newForm({
                                           date : @item.DATE.ToString(),
                                           emp : @item.EMPLOYEE_NO.ToString(),
                                           name : @item.NAME.ToString(),
                                           source : 'Remote',
                                           timein : @item.FIRST_IN.ToString()
                                          })" title="View" class="btn btn-primary"><i class="fas fa-search"></i></a>
                                </td> *@
                                <td class="text-center">
                                    <a href="javascript:void(0)" onclick='newForm({
                                                        date:"@item.DATE.ToString("MM/dd/yyyy")",
                                                        emp:"@item.EMPLOYEE_NO",
                                                        name :"@item.NAME" ,
                                                        source : "@item.SOURCE",
                                                        timein : "@item.FIRST_IN",
                                                        timeout : "@item.LAST_OUT",
                                                        clockout : "@item.CLOCK_OUT",
                                                        Late : "@item.LATE",
                                                        UnderTime : "@item.UNDER_TIME",
                                                        OT : "@item.OVERTIME",
                                                        Hours : "@item.TOTAL_HOURS",
                                                        WorkingHours : "@item.TOTAL_WORKING_HOURS"
                                                            })' title="View" class="btn btn-primary"><i class="fas fa-search"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
</<div>
</div>


            <div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Daily Time Record</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="createForm">
                            <div class="modal-body">
                                <table class="viewDetailsTbl table table-striped">
                                    <tbody>
                                        <tr>
                                            <th>Date:</th>
                                            <th class="tblDate">  <label id="lblDate"></label>  </th>
                                        </tr>
                                        <tr>
                                            <th>Employee No.:</th>
                                            <th class="tblEmNo">  <label id="lblEmpNo"></label></th>
                                        </tr>
                                        <tr>
                                            <th>Name:</th>
                                            <th class="tblName"> <label id="lblName"></label> </th>
                                        </tr>
                                        <tr>
                                            <th>DTR Source:</th>
                                            <td class="tblSource"><span class="btnSuccess applicationStatus"><label id="lblSource"></label></span></td>
                                        </tr>
                                        <tr>
                                            <th>Time In:</th>
                                            <th class="tblTimeIn"><label id="lblTimeIn"></label></th>
                                        </tr>
                                        <tr>
                                            <th>Time Out:</th>
                                            <th class="tblTimeOut"><label id="lblTimeOut"></label></th>
                                        </tr>
                                        <tr>
                                            <th>Clock Out:</th>
                                            <td class="tblClockOut"><label id="lblClockOut"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Late:</th>
                                            <td class="tblLate"><label id="lblLate"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Under Time:</th>
                                            <td class="tblUnderTime"><label id="lblUnderTime"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Overtime:</th>
                                            <td class="tblOT"><label id="lblOT"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Total Hours:</th>
                                            <td class="tblHours"><label id="lblHours"></label></td>
                                        </tr>
                                        <tr>
                                            <th>Total Working Hours:</th>
                                            <th class="tblWorkingHours"><label id="lblWorkingHours"></label></th>
                                        </tr>
                                    </tbody>

                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal"><small>Close</small></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

@section scripts {

                <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
                <script src="~/js/dci-validation.js"></script>


                        @*  Export Button*@
            <script src="https://cdn.datatables.net/buttons/3.2.1/js/dataTables.buttons.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/3.2.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/3.2.1/js/buttons.print.min.js"></script>
            <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css">
            <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.1/css/buttons.dataTables.css">


                <script type="text/javascript">
                        var js = jQuery.noConflict(true);

                                $('.spinner-overlay').show();

                    setTimeout(() => {
                        $('.spinner-overlay').hide();
                    }, 200);


                        $(document).ready(function () {
                            js('#tblDTR').DataTable({
                                            dom: '<"d-flex flex-column"<"d-flex justify-content-between align-items-center mb-2"B><"d-flex justify-content-between align-items-center"l<f>>>rtip',
                         buttons: [                           
                             {
                                 extend: 'pdf',
                                 text: 'Export to PDF',
                                 title: 'Attendance Report',
                                 exportOptions: {
                                     columns: ':not(:last-child)' // Excludes the last column
                                 }
                             }
                         ],
                         lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ], // Entries per page
                         pageLength: 10 ,// Default entries per page
                                 order: [[2, 'desc']]
                            });


                        });


                        function newForm(dtr) {
                           // console.log(dtr)
                                document.getElementById('lblDate').textContent = dtr.date;
                                document.getElementById('lblEmpNo').textContent = dtr.emp;
                                 document.getElementById('lblName').textContent = dtr.name;
                                 document.getElementById('lblSource').textContent = dtr.source;
                                 document.getElementById('lblTimeIn').textContent = dtr.timein;
                                  document.getElementById('lblTimeOut').textContent = dtr.timeout
                                document.getElementById('lblClockOut').textContent = dtr.clockout;
                                document.getElementById('lblLate').textContent = dtr.Late;
                                document.getElementById('lblUnderTime').textContent = dtr.UnderTime;
                                document.getElementById('lblOT').textContent = dtr.OT;
                                document.getElementById('lblHours').textContent = dtr.Hours;
                                document.getElementById('lblWorkingHours').textContent = dtr.WorkingHours;
                                js('#createmodal').modal('show');
                        }

                        // function newForm() {
                        //         document.getElementById('lblDate').textContent = 'May 15, 2025';
                        //         document.getElementById('lblEmpNo').textContent = '080343';
                        //         document.getElementById('lblName').textContent = 'Jc Cabugao';
                        //         document.getElementById('lblSource').textContent = 'Remote';
                        //         document.getElementById('lblTimeIn').textContent = '08:27:43 AM';
                        //         document.getElementById('lblTimeOut').textContent = '--:--:--';
                        //         document.getElementById('lblClockOut').textContent = '05:27:43 PM';
                        //         document.getElementById('lblLate').textContent = '00:00:00';
                        //         document.getElementById('lblUnderTime').textContent = '09:00:00';
                        //         document.getElementById('lblOT').textContent = '00:00:00';
                        //         document.getElementById('lblHours').textContent = '00:00:00';
                        //         document.getElementById('lblWorkingHours').textContent = '00:00:00';
                        //         js('#createmodal').modal('show');
                        // }




                </script>
}
