@model IEnumerable<DCI.Models.ViewModel.DTRCorrectionViewModel>
@using Newtonsoft.Json;
@using DCI.Core.Common;
@using DCI.Models.ViewModel;

<link href="~/css/dcicustom.css" rel="stylesheet" />



@{
    var modulePageAccess = Context.Session.GetString("ModulePageAccess");
    var canView = false;
    var canAdd = false;
    var canEdit = false;
    var canDelete = false;

    if (modulePageAccess == null)
    {
        <script>
            $.ajax({
            type: 'POST',
            url: '@Url.Action("Logout", "Account")',
            success: function (response) {

            Swal.fire({
            text: "Your session has timed out. Please log in again.",
            icon: "info",
            confirmButtonText: "Ok"
            }).then((result) => {
            window.location.href = '/Account/Logout';
            });
            },
            error: function () {
            Swal.fire({
            text: "An error occurred. Please try again.",
            icon: "error"
            });
            }
            })
        </script>
    }
    else
    {
        var module = JsonConvert.DeserializeObject<List<ModuleInRoleViewModel>>(modulePageAccess)?
                    .FirstOrDefault(x => x.ModulePageId == (int)EnumModulePage.DTRCorrection);
        canView = module?.View ?? false;
        canAdd = module?.Add ?? false;
        canEdit = module?.Update ?? false;
        canDelete = module?.Delete ?? false;
    }

}

<div class="container-fluid">
    <div class="spinner-overlay">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h6 class="m-0 font-weight-bold text-gray-800">@ViewBag.BreadCrumbLabel</h6>
        <div class="upperRightDivBtn">
            <a href="#" title="Add DTR Adjustment" class="btn btnPrimary btn-icon-split" data-toggle="modal" data-target="#" onclick="newForm()">
                <span class="icon text-white"><i class="fa-solid fa-plus text-xs"></i></span>
                <span class="text text-white"><small>File DTR Adjustment</small></span>
            </a>
        </div>

    </div>
    <div class="col-12 p0">
        <ul class="breadcrumb">
            <li><a href="~/Home/Index">Dashboard</a></li>
            <li><a href="#">Daily Time Record</a></li>
            <li><a href="#">@ViewBag.BreadCrumbLabel</a></li>
        </ul>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header">
            <label class="mb0">Data</label>
        </div>
        <div class="card-body">
            <div class="table-responsive mt20">
                <table class="table table-bordered" id="tblDTR">
                    <thead>
                        <tr>


                            <th>
                                <label>Request No</label>
                            </th>
                            @if (@ViewBag.BreadCrumbLabel == "DTR Adjustment Summary")
                            {
                                <th>
                                    <label>Employee</label>
                                </th>
                            }
                           
                            <th>
                                <label>DTR Date & Time</label>
                            </th>
                            <th>
                                <label>Type</label>
                            </th>
                            <th>
                                <label>Status</label>
                            </th>
                            <th>
                                <label>Date Filed</label>
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                  @item.RequestNo
                                  
                                </td>
                                @if (@ViewBag.BreadCrumbLabel == "DTR Adjustment Summary")
                                {
                                    <td>
                                        @item.EmployeeName
                                    </td>
                                }
                              
                                <td>
                                    @item.DtrDateTime.ToString("MM/dd/yyyy HH:mm")
                                </td>
                                <td>
                                    @if (item.DtrType == 1)
                                    {
                                        @("Time In");                                        
                                    }
                                    else
                                    {
                                        @("Time Out");                                        
                                    }
                                </td>
                                        @if (item.StatusName == "Approved")
                                        {
                                    <td class="text-center"><strong><span class='btnPrimary applicationStatus'>@item.StatusName</span></strong></td>
                                        }
                                        else if (item.StatusName == "Rejected")
                                        {
                                    <td class="text-center"><strong><span class='btn-danger applicationStatus'>@item.StatusName</span></strong></td>
                                        }
                                        else if (item.StatusName == "Deducted")
                                        {
                                            <td class="text-center"><strong><span class='btn-danger applicationStatus'>@item.StatusName</span></strong></td>
                                        }
                                        else
                                        {
                                    <td class="text-center"><strong><span class='btn-success applicationStatus'>@item.StatusName</span></strong></td>
                                        }
                                <td>
                                    @item.DateFiled.ToString("MM/dd/yyyy HH:mm")
                                </td>
                              
                                <td class="text-center">
                                    <a href="javascript:void(0)" onclick="view(@item.DtrId)" title="View" class="btn btn-primary"><i class="fas fa-search"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
</<div>
</div>


            <div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">DTR Adjustment</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="createForm">
                            <div class="modal-body">
                           @*      <table class="viewDetailsTbl table table-striped">
                                    <tbody>
                                       
                                        <tr>
                                            <th>DTR Date:</th>
                                            <td class="tblDate">
                                                <div class="input-group">
                                                    <input type="text" name="COVERED_DATE" id="dateCovered" class="form-control frmField" autocomplete="off">
                                                    <div class="input-group-prepend prependBtn">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                                <label for="dateCovered" generated="true" class="error"></label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> *@

                               @*  <form class="row" id="createForm" method="POST"> *@
                                    <input type="hidden" name="DTR_DATE">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="frmText"><span class="required">*</span>DTR Date & Time</label>
                                            <div class="input-group">
                                                <input type="text" name="dateCovered" id="dateCovered" class="form-control frmField" autocomplete="off" required>
                                                <div class="input-group-prepend prependBtn">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                            <label for="dateCovered" generated="true" class="error"></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="frmText"><span class="required">*</span> Type</label>
                                            <select class="form-control frmField" name="DtrType" id="DtrType" required>
                                            <option value="" disabled selected>Select</option>
                                                <option value="1" class="TIME_IN">Time In</option>
                                                <option value="2" class="TIME_OUT">Time Out</option>
                                            </select>
                                        </div>
                                    </div>
                                @*     <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="frmText"><span class="required">*</span> Time:</label>
                                            <input class="form-control frmField" type="time" name="DtrTime" id="DtrTime">
                                        </div>
                                    </div> *@

                                    <div class="col-12">
                                        <div class="form-group">
                                        <label class="frmText"><span class="required">*</span> Reason:</label>
                                            <textarea class="form-control frmField" name="Reason" id="Reason" required></textarea>
                                        </div>
                                    </div>
                             @*        <div class="col-12">
                                        <div class="form-group mb10">
                                            <label class="frmText">Attachment:</label>
                                            <input type="file" class="frmFile " name="AttachmentId" id="AttachmentId">
                                        </div>
                                    </div> *@
                                    <div class="col-12">
                                        <hr>
                                        <div class="form-group">
                                            <label class="frmText">For Approval of: </label><br>
                                            <label class="font-weight-bold mb0 text-danger" id="deptHeadName"></label>
                                            @* <label class="d-block mt0 text-left text-xs">(Department Head)</label> *@
                                        </div>
                                    </div>
                                @* </form> *@
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer pt0">
                           @*      <button class="btn btnPrimary btn-icon-split d-block" onclick="save()" type="button" id="btnSave">
                                    <span class="icon text-white">
                                        <i class="fa-regular fa-file-lines text-xs"></i>
                                    </span>
                                    <span class="text text-white"><small>Submit </small></span>
                                </button> *@
                                <button class="btn btnPrimary btn-icon-split d-block" type="submit" id="btnSave">
                                    <span class="icon text-white">
                                        <i class="fa-regular fa-file-lines text-xs"></i>
                                    </span>
                                    <span class="text text-white"><small>Submit </small></span>
                                </button>

                                <button class="btn btnSecondary btn-icon-split d-block" data-dismiss="modal">
                                    <span class="icon text-white">
                                        <i class="fa-solid fa-xmark text-xs"></i>
                                    </span>
                                    <span class="text text-white"><small>Close </small></span>
                                </button>
                            </div>
                   
                        </form>
                    </div>
                </div>
            </div>

@section scripts {

                <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

                    @*  Export Button*@
            <script src="https://cdn.datatables.net/buttons/3.2.1/js/dataTables.buttons.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
            <script src="https://cdn.datatables.net/buttons/3.2.1/js/buttons.html5.min.js"></script>
            <script src="https://cdn.datatables.net/buttons/3.2.1/js/buttons.print.min.js"></script>
            <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css">
            <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.1/css/buttons.dataTables.css">


          
                <script type="text/javascript">
                        var js = jQuery.noConflict(true);

                                $('.spinner-overlay').show();

                    setTimeout(() => {
                        $('.spinner-overlay').hide();
                    }, 200);


                        $(document).ready(function () {
                               js('#tblDTR').DataTable({
                                      dom: '<"d-flex flex-column"<"d-flex justify-content-between align-items-center mb-2"B><"d-flex justify-content-between align-items-center"l<f>>>rtip',
                         buttons: [
                             {
                                 extend: 'excel',
                                 text: 'Excel',
                                 title: 'Document Report',
                                 exportOptions: {
                                     columns: ':not(:last-child)' // Excludes the last column
                                 }
                             },
                             {
                                 extend: 'pdf',
                                 text: 'PDF',
                                 title: 'Document Report',
                                 exportOptions: {
                                     columns: ':not(:last-child)' // Excludes the last column
                                 }
                             }
                         ],
                         lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ], // Entries per page
                         pageLength: 10 ,// Default entries per page
                                 order: [[2, 'desc']]
                            });


                                     flatpickr("#dateCovered", {
                                        enableTime: true,
                                       dateFormat: "Y-m-d H:i",                                     
                                            time_24hr: true,
                                             maxDate: new Date(),
                                       onChange: function(selectedDates, dateStr, instance) {
                                             instance._input.setAttribute("required", "required");
                                      }
                                    });

                                    $('#createForm').submit(function (event) {
                                                    event.preventDefault();
                                                                                                        
                                                        const formData = new FormData();
                                                      formData.append('DtrType', $('#DtrType').val());
                                                       formData.append('DtrDateTime', $('#dateCovered').val());
                                                        formData.append('Reason', $('#Reason').val());

                                                        console.log(formData)

                                                               Swal.fire({
                                                                   text: "Are you sure you want to submit this record?",
                                                                   icon: "question",
                                                                   showCancelButton: true,
                                                                   confirmButtonText: "Ok"
                                                               }).then((result) => {
                                                                   if (result.isConfirmed) {
                                                                       $('.spinner-overlay').show();

                                                                       $.ajax({
                                                                           type: 'POST',
                                                                           url: '@Url.Action("SaveDTRCorrection", "DailyTimeRecord")',
                                                                           data: formData,
                                                                               processData: false,
                                                                                  contentType: false,
                                                                           success: function (response) {
                                                                               if (response.success) {
                                                                                   $('#createForm')[0].reset();
                                                                                   js('#createmodal').modal('hide');

                                                                                   Swal.fire({
                                                                                       text: response.message,
                                                                                       icon: "success",
                                                                                       confirmButtonText: "Ok"
                                                                                   }).then((result) => {
                                                                                       location.reload();
                                                                                   });

                                                                               } else {
                                                                                   Swal.fire({
                                                                                       text: response.message,
                                                                                       icon: "error"
                                                                                   });
                                                                               }
                                                                               $('.spinner-overlay').hide();
                                                                           },
                                                                           error: function () {
                                                                               $('.spinner-overlay').hide();
                                                                               Swal.fire({
                                                                                   text: "An error occurred. Please try again.",
                                                                                   icon: "error"
                                                                               });
                                                                           }
                                                                       });
                                                                   }
                                                               });
                                                      });// submit
                  
                        });


                        function newForm(dtr) {
                                             const my_fp = document.querySelector("#dateCovered")._flatpickr;
                                                 my_fp.clear();
                                                   $('#Reason').val('');
                                                    document.getElementById('deptHeadName').textContent = @Html.Raw(JsonConvert.SerializeObject(ViewBag.ApproverHead));

                                                                       $('#btnSave').css("visibility", "visible");
                                                         $('#createForm').find('input, select, textarea').prop('disabled', false);
                                js('#createmodal').modal('show');
                        }


                              function view(dtrId) {
                                      event.preventDefault();
                                 
                                       

                                      $.ajax({
                                          type: 'POST',
                                          url: '@Url.Action("DTRCorrectionById", "DailyTimeRecord")',
                                           data: { DtrId: dtrId },
                                          success: function (response) {
                                              if (response.success) {
                                                     console.log(response);
                                                         $('#dateCovered').val(response.data.dtrDateTime);
                                                          $('#DtrType').val(response.data.dtrType);
                                                          $('#Reason').val(response.data.reason);
                   
                                                              document.getElementById('deptHeadName').textContent = response.data.departmentHead;

                                                              $('#btnSave').css("visibility", "hidden");
                                                               
                                                         $('#createForm').find('input, select, textarea').prop('disabled', true);
                                                  js('#createmodal').modal('show');
                                              } else {
                                                  Swal.fire({
                                                      text: response.message,
                                                      icon: "error"
                                                  });
                                              }
                                              $('.spinner-overlay').hide();
                                          },
                                          error: function () {
                                              $('.spinner-overlay').hide();
                                              Swal.fire({
                                                  text: "An error occurred. Please try again.",
                                                  icon: "error"
                                              });
                                          }
                                      });
                           
                    }


                    //        function save() {
                    //             event.preventDefault();
                    //         //     var datecovered =  $('#dateCovered').val();
                    //         //     var dtrtype =   $('#DtrType').val(response.data.dtrType);
                    //         //     var reason = $('#Reason').val(response.data.reason);

                    //         // console.log(datecovered)
                    //         // console.log(dtrtype)
                    //         // console.log(reason)


                    //            const formData = new FormData();                       
                    //               formData.append('DtrType', $('#DtrType').val());
                    //                formData.append('DtrDateTime', $('#dateCovered').val());
                    //                 formData.append('Reason', $('#Reason').val());

                    //                 console.log(formData)

                    //    Swal.fire({
                    //        text: "Are you sure you want to submit this record?",
                    //        icon: "question",
                    //        showCancelButton: true,
                    //        confirmButtonText: "Ok"
                    //    }).then((result) => {
                    //        if (result.isConfirmed) {
                    //            $('.spinner-overlay').show();

                    //            $.ajax({
                    //                type: 'POST',
                    //                url: '@Url.Action("SaveDTRCorrection", "DailyTimeRecord")',
                    //                data: formData,
                    //                    processData: false,
                    //                       contentType: false,
                    //                success: function (response) {
                    //                    if (response.success) {
                    //                        $('#createForm')[0].reset();
                    //                        js('#createmodal').modal('hide');

                    //                        Swal.fire({
                    //                            text: response.message,
                    //                            icon: "success",
                    //                            confirmButtonText: "Ok"
                    //                        }).then((result) => {
                    //                            location.reload();
                    //                        });

                    //                    } else {
                    //                        Swal.fire({
                    //                            text: response.message,
                    //                            icon: "error"
                    //                        });
                    //                    }
                    //                    $('.spinner-overlay').hide();
                    //                },
                    //                error: function () {
                    //                    $('.spinner-overlay').hide();
                    //                    Swal.fire({
                    //                        text: "An error occurred. Please try again.",
                    //                        icon: "error"
                    //                    });
                    //                }
                    //            });
                    //        }
                    //    });

                    // }



                </script>
}
