@model IEnumerable<DCI.Models.ViewModel.DTRCorrectionViewModel>
@using Newtonsoft.Json;
@using DCI.Core.Common;
@using DCI.Models.ViewModel;

<link href="~/css/dcicustom.css" rel="stylesheet" />
<link href="~/css/ess/sb-admin-2.min.css?v0.0.3" rel="stylesheet" />


@{
    var modulePageAccess = Context.Session.GetString("ModulePageAccess");
    var canView = false;
    var canAdd = false;
    var canEdit = false;
    var canDelete = false;

    if (modulePageAccess == null)
    {
        <script>
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Logout", "Account")',
                success: function (response) {

                    Swal.fire({
                        text: "Your session has timed out. Please log in again.",
                        icon: "info",
                        confirmButtonText: "Ok"
                    }).then((result) => {
                        window.location.href = '/Account/Logout';
                    });
                },
                error: function () {
                    Swal.fire({
                        text: "An error occurred. Please try again.",
                        icon: "error"
                    });
                }
            })
        </script>
    }
    else
    {
        var module = JsonConvert.DeserializeObject<List<ModuleInRoleViewModel>>(modulePageAccess)?
                    .FirstOrDefault(x => x.ModulePageId == (int)EnumModulePage.Department);
        canView = module?.View ?? false;
        canAdd = module?.Add ?? false;
        canEdit = module?.Update ?? false;
        canDelete = module?.Delete ?? false;
    }

}

<div class="container-fluid">
    <div class="spinner-overlay">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h6 class="m-0 font-weight-bold text-gray-800">@ViewBag.BreadCrumbLabel</h6>
               <div class="upperRightDivBtn">
            <a href="#" title="Add DTR Correction" class="btn btnPrimary btn-icon-split" data-toggle="modal" data-target="#" onclick="newForm()">
                <span class="icon text-white"><i class="fa-solid fa-plus text-xs"></i></span>
                <span class="text text-white"><small>File DTR Correction</small></span>
            </a>
        </div>

    </div>
    <div class="col-12 p0">
        <ul class="breadcrumb">
            <li><a href="~/Home/Index">Dashboard</a></li>
            <li><a href="#">Daily Time Record</a></li>
            <li><a href="#">@ViewBag.BreadCrumbLabel</a></li>
        </ul>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header">
            <label class="mb0">Data</label>
        </div>
        <div class="card-body">
            <div class="table-responsive mt20">
                <table class="table table-bordered" id="tblDTR">
                    <thead>
                        <tr>
                      

                            <th>
                                <label>Request No</label>
                            </th>
                            <th>
                                <label>DTR Date & Time</label>
                            </th>
                            <th>
                                <label>Type</label>
                            </th>
                            <th>
                                <label>Status</label>
                            </th>
                            <th>
                                <label>Date Filed</label>
                            </th>
                            <th>
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                  @item.RequestNo
                                  
                                </td>
                                <td>
                                    @item.DtrDateTime.ToString("MM/dd/yyyy hh:mm tt")
                                </td>
                                <td>
                                    @if (item.DtrType == 1)
                                    {
                                        @("Time In");                                        
                                    }
                                    else
                                    {
                                        @("Time Out");                                        
                                    }
                                </td>
                                <td>
                                    @item.StatusName
                                </td>
                                <td>
                                    @item.DateFiled.ToString("MM/dd/yyyy")
                                </td>
                              
                                <td class="text-center">
                                    <a href="#" onclick="editForm(@item.DtrId)" title="View" class="btn btn-primary"><i class="fas fa-search"></i></a>                   
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
</<div>
</div>


            <div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">DTR Correction</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form id="createForm">
                            <div class="modal-body">
                           @*      <table class="viewDetailsTbl table table-striped">
                                    <tbody>
                                       
                                        <tr>
                                            <th>DTR Date:</th>
                                            <td class="tblDate">
                                                <div class="input-group">
                                                    <input type="text" name="COVERED_DATE" id="dateCovered" class="form-control frmField" autocomplete="off">
                                                    <div class="input-group-prepend prependBtn">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>
                                                </div>
                                                <label for="dateCovered" generated="true" class="error"></label>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> *@

                                <form class="row" id="frmDTRCorrection" method="POST">
                                    <input type="hidden" name="DTR_DATE">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="frmText"><span class="required">*</span>DTR Date & Time</label>
                                            <div class="input-group">
                                                <input type="text" name="dateCovered" id="dateCovered" class="form-control frmField" autocomplete="off">
                                                <div class="input-group-prepend prependBtn">
                                                    <i class="fa fa-calendar"></i>
                                                </div>
                                            </div>
                                            <label for="dateCovered" generated="true" class="error"></label>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="frmText"><span class="required">*</span> Type</label>
                                            <select class="form-control frmField" name="DtrType" id="DtrType">
                                                <option value="0">Select</option>
                                                <option value="1" class="TIME_IN">Time In</option>
                                                <option value="2" class="TIME_OUT">Time Out</option>
                                            </select>
                                        </div>
                                    </div>
                                @*     <div class="col-lg-6">
                                        <div class="form-group">
                                            <label class="frmText"><span class="required">*</span> Time:</label>
                                            <input class="form-control frmField" type="time" name="DtrTime" id="DtrTime">
                                        </div>
                                    </div> *@

                                    <div class="col-12">
                                        <div class="form-group">
                                            <label class="frmText"><span class="required">*</span> Reason:</label>
                                            <textarea class="form-control frmField" name="Reason" id="Reason"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group mb10">
                                            <label class="frmText">Attachment:</label>
                                            <input type="file" class="frmFile " name="AttachmentId" id="AttachmentId">
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <hr>
                                        <div class="form-group">
                                            <label class="frmText">For Approval of: </label><br>
                                            <label class="font-weight-bold mb0 text-danger" id="deptHeadName"></label>
                                            <label class="d-block mt0 text-left text-xs">(Department Head)</label>
                                        </div>
                                    </div>
                                </form>
                            </div>

                            <!-- Modal footer -->
                            <div class="modal-footer pt0">
                           @*      <button class="btn btnPrimary btn-icon-split d-block" onclick="save()">
                                    <span class="icon text-white-50">
                                        <i class="fa-regular fa-file-lines text-xs"></i>
                                    </span>
                                    <span class="text"><small>Submit </small></span>
                                </button> *@

                                <button class="btn btnSecondary btn-icon-split d-block" data-dismiss="modal">
                                    <span class="icon text-white-50">
                                        <i class="fa-solid fa-xmark text-xs"></i>
                                    </span>
                                    <span class="text"><small>Close </small></span>
                                </button>
                            </div>
                   
                        </form>
                    </div>
                </div>
            </div>

@section scripts {

                <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>
                <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

                <script type="text/javascript">
                        var js = jQuery.noConflict(true);

                                $('.spinner-overlay').show();

                    setTimeout(() => {
                        $('.spinner-overlay').hide();
                    }, 200);


                        $(document).ready(function () {
                            js('#tblDocument').DataTable({
                            });
                                     flatpickr("#dateCovered", {
                                        enableTime: true,
                                       dateFormat: "Y-m-d H:i",                                     
                                            time_24hr: true,
                                       onChange: function(selectedDates, dateStr, instance) {
                                      }
                                    });


                        });


                        function newForm(dtr) {
                                             const my_fp = document.querySelector("#dateCovered")._flatpickr;
                                                 my_fp.clear();
                                                   $('#Reason').val('');
                                                    document.getElementById('deptHeadName').textContent = '';
                                js('#createmodal').modal('show');
                        }


                              function editForm(dtrId) {
                                      event.preventDefault();
                                 // const formData = new FormData();
                                 //    formData.append('DtrId', dtrId);

                                      $.ajax({
                                          type: 'POST',
                                          url: '@Url.Action("DTRCorrectionById", "DailyTimeRecord")',
                                           data: { DtrId: dtrId },
                                          success: function (response) {
                                              if (response.success) {
                                                     console.log(response);
                                                         $('#dateCovered').val(response.data.dtrDateTime);
                                                          $('#DtrType').val(response.data.dtrType);
                                                          $('#Reason').val(response.data.reason);
                   
                                                              document.getElementById('deptHeadName').textContent = response.data.departmentHead;
                                                  js('#createmodal').modal('show');
                                              } else {
                                                  Swal.fire({
                                                      text: response.message,
                                                      icon: "error"
                                                  });
                                              }
                                              $('.spinner-overlay').hide();
                                          },
                                          error: function () {
                                              $('.spinner-overlay').hide();
                                              Swal.fire({
                                                  text: "An error occurred. Please try again.",
                                                  icon: "error"
                                              });
                                          }
                                      });
                           
                    }


                           function save() {
                         
                                  const formData = new FormData();
                       
                                  formData.append('DtrType', $('#DtrType').val());
                                   formData.append('DtrDateTime', $('#dateCovered').val());
                                    formData.append('Reason', $('#Reason').val());

                                    console.log(formData)

                       Swal.fire({
                           text: "Are you sure you want to save this record?",
                           icon: "question",
                           showCancelButton: true,
                           confirmButtonText: "Ok"
                       }).then((result) => {
                           if (result.isConfirmed) {
                               $('.spinner-overlay').show();

                               $.ajax({
                                   type: 'POST',
                                   url: '@Url.Action("SaveDTRCorrection", "DailyTimeRecord")',
                                   data: formData,
                                       processData: false,
                                          contentType: false,
                                   success: function (response) {
                                       if (response.success) {
                                           $('#createForm')[0].reset();
                                           js('#createmodal').modal('hide');

                                           Swal.fire({
                                               text: response.message,
                                               icon: "success",
                                               confirmButtonText: "Ok"
                                           }).then((result) => {
                                               location.reload();
                                           });

                                       } else {
                                           Swal.fire({
                                               text: response.message,
                                               icon: "error"
                                           });
                                       }
                                       $('.spinner-overlay').hide();
                                   },
                                   error: function () {
                                       $('.spinner-overlay').hide();
                                       Swal.fire({
                                           text: "An error occurred. Please try again.",
                                           icon: "error"
                                       });
                                   }
                               });
                           }
                       });

                    }



                </script>
}
