@model DCI.Models.ViewModel.LeaveViewModel
@using Newtonsoft.Json;
@* @using DCI.Core.Common; *@
@using DCI.Models.ViewModel;


<link href="~/css/DCIcustom.css" rel="stylesheet" />




<!-- Begin Page Content -->
<div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h6 class="m-0 font-weight-bold text-gray-800">Leave Application & Balances</h6>
        <div class="upperRightDivBtn">
            @*    <button class="btn btnPrimary btn-icon-split" data-toggle="modal" data-target="#leaveRequestModal">
                <span class="icon text-white"><i class="fa-solid fa-file-pen text-xs"></i></span>
                <span class="text"><small>Request Leave</small></span>
            </button> *@
            <a href="#" title="Request Leave" class="btn btnPrimary btn-icon-split" data-toggle="modal" data-target="#" onclick="newForm()">
                <span class="icon text-white"><i class="fa-solid fa-plus text-xs"></i></span>
                <span class="text text-white"><small>Request Leave</small></span>
            </a>
        </div>
    </div>
    <div class="col-12 p0">
        <ul class="breadcrumb">
            <li><a href="~/Home/Index">Dashboard</a></li>
            <li>Leave Application</li>
        </ul>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card shadow h-100 text-dark">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success mb-1">
                                <span class="text-uppercase"> Vacation Leave</span> <br>
                                <small class="text-secondary">(Remaining Balance)</small>
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-dark">@Model.VLBalance</div>
                        </div>
                        <div class="col-auto">
                   
                            <i class="fa-solid fa-plane fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card shadow h-100 text-dark">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger mb-1">
                                <span class="text-uppercase"> Sick Leave</span> <br>
                                <small class="text-secondary">(Remaining Balance)</small>
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-dark">@Model.SLBalance</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-temperature-high fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="card shadow h-100 text-dark">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-danger mb-1">
                                <span class="text-uppercase"> SPECIAL LEAVE</span> <br>
                                <small class="text-secondary">(Remaining Balance)</small>
                            </div>
                            <div class="h3 mb-0 font-weight-bold text-dark">@Model.SPLBalance</div>
                        </div>
                        <div class="col-auto">
                            <i class="fa-solid fa-tree-city fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0  small font-weight-bold text-gray-800">Data</h6>
                </div>

                <!-- Card Body -->
                <div class="card-body">
            @*         <div id="accordion">
                        <button type="button" class="btn btnSecondary btn-icon-split pr10" data-toggle="collapse" href="#collapseFilter">
                            <span class="icon text-white">
                                <i class="fa-solid fa-filter text-xs"></i>
                            </span>
                            <span class="text"><small>Filter</small></span>
                        </button>

                        <a href="http://192.168.1.100/DCI-ESS-STG/leave/" class="btn btnPrimary btn-icon-split">
                            <span class="icon text-white">
                                <i class="fa-solid fa-redo text-xs"></i>
                            </span>
                            <span class="text"><small>Reload</small></span>
                        </a>


                        <div id="collapseFilter" class="collapse  mt20" data-parent="#accordion">
                            <form id="frmFilter" method="post" class="row">
                                <div class="form-group col-3">
                                    <label class="frmText">Date Filed From: </label>
                                    <div class="input-group">
                                        <input type="text" name="dateFrom" id="datepicker-from" class="form-control frmField" value="" autocomplete="off">
                                        <div class="input-group-prepend prependBtn">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-3">
                                    <label class="frmText">Date Filed To: </label>
                                    <div class="input-group">
                                        <input type="text" name="dateTo" id="datepicker-to" class="form-control frmField" value="" autocomplete="off">
                                        <div class="input-group-prepend prependBtn">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6 col-md-4 col-lg-3 col-xl-2 mb0">
                                    <label>&nbsp;</label>
                                    <button class="btn btn-dark btn-icon-split d-block pl20">
                                        <span class="text"><small>Apply </small></span>
                                        <span class="icon text-white-50"><i class="fa-solid fa-caret-right text-xs"></i></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div> *@
                    <div class="table-responsive mt20">
                        <table class="table table-bordered dataTable" width="100%" cellspacing="0" id="tblDocument">
                            <thead>
                                <tr>
                                    <th><span>Request No.</span></th>
                                    <th><span>Date Filed</span></th>
                                    <th><span>Leave Type</span></th>
                                    <th><span>Date Covered</span></th>
                                    <th width="10%"><span>No. of Days</span></th>
                                    <th width="10%"><span>Status</span></th>
                                    <th><span>Action</span></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var hdr in Model.LeaveRequestHeaderList)
                                {
                                    <tr>
                                        <td><strong>@hdr.RequestNo</strong></td>
                                        <td>@hdr.DateFiled.ToString("MMMM dd yyyy hh:mm tt")</td>
                                        <td>@hdr.LeaveName</td>
                                        <td>
                                            <strong>
                                                @foreach (var dtl in hdr.LeaveRequestDetailList)
                                                {
                                                    <span class='d-inline-block mb-1 border applicationStatus bg-light text-dark text-xs'>@dtl.LeaveDate.ToShortDateString()</span>
                                                }
                                            </strong>
                                        </td>
                                        <td><strong>@hdr.NoofDays</strong></td>
                                        @if (hdr.StatusName == "Approved")
                                        {
                                            <td class="text-center"><strong><span class='btnPrimary applicationStatus'>@hdr.StatusName</span></strong></td>
                                        }
                                        else if (hdr.StatusName == "Rejected")
                                        {
                                            <td class="text-center"><strong><span class='btn-danger applicationStatus'>@hdr.StatusName</span></strong></td>
                                        }
                                        else
                                        {
                                            <td class="text-center"><strong><span class='btn-success applicationStatus'>@hdr.StatusName</span></strong></td>
                                        }


                                        <td class="text-center">
                                            <a href="javascript:void(0)" onclick="editForm(@hdr.LeaveRequestHeaderId)" title="View" class="btn btn-primary"><i class="fas fa-search"></i></a>

                                            @*      <div class="dropdown">
                                                <a href="#" class="dropdown-toggl text-lg" data-toggle="dropdown">
                                                    <i class="fa-solid fa-ellipsis"></i>
                                                </a>
                                                <ul class="dropdown-menu">
                                                    <li>
                                                        <a href="#" onclick="viewModalInfo('5')"><i class="fa-solid fa-magnifying-glass"></i> View Details</a>
                                                </ul>
                                            </div> *@
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-12">
            <div class="card shadow mb-4">
                <!-- Card Header -->
        @*         <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0  small font-weight-bold text-gray-800">Data</h6>
                </div> *@
                <!-- Card Body -->
                <div class="card-body">
                    <div id="accordion">

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="frmText"><span class="required">*</span> Year</label>

                                <select id="yearSelect" class="form-select" asp-items="@(new SelectList(Model.YearList))" onchange="getLeaveByYear()">
                                    <option value="">select year</option>
                                    Model.vlSummaries
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        @{
            var currentMonth = DateTime.Now.ToString("MMM-yyyy"); // e.g. "Sep-2025"
        }
        <div class="col-xl-6">

            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0  small font-weight-bold text-gray-800">Vacation Leave</h6>
                </div>

                <!-- Card Body -->
                <div class="card-body">

                    <div class="table-responsive">
                        <table class="table table-bordered text-dark text-xs" width="100%" cellspacing="0">
                            <thead class="bg-light">
                                <tr>
                                    <th><span>As of</span></th>
                                    <th><span>Beg bal</span></th>
                                    <th><span>Credit</span></th>
                                    <th><span>Availed</span></th>
                                    <th><span>VL Mon</span></th>
                                    <th><span>End Bal</span></th>
                                </tr>
                            </thead>
                            <tbody id="tblVL">
                                @foreach (var vl in Model.vlSummaries)
                                {
                                    string rowClass = vl.AsOf == currentMonth ? "table-success" : "";

                                    <tr class='@rowClass'>
                                        <td><strong> @vl.AsOf  </strong></td>
                                        <td><strong>  @vl.BegBal</strong></td>
                                        <td>@vl.Credit</td>
                                        <td><strong>@vl.Availed</strong></td>
                                        <td><strong>@vl.Monetized</strong></td>
                                        <td>@vl.EndBal</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="card shadow mb-4">
                <!-- Card Header -->
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0  small font-weight-bold text-gray-800">Sick Leave</h6>
                </div>

                <!-- Card Body -->
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered text-dark text-xs" width="100%" cellspacing="0">
                            <thead class="bg-light">
                                <tr>
                                    <th><span>As of</span></th>
                                    <th><span>Beg bal</span></th>
                                    <th><span>Credit</span></th>
                                    <th><span>Availed</span></th>
                                    <th><span>SL Mon</span></th>
                                    <th><span>End Bal</span></th>
                                </tr>
                            </thead>
                            <tbody id="tblSL">
                               
                                @foreach (var sl in Model.slSummaries)
                                {                                 
                                    string rowClass = sl.AsOf == currentMonth ? "table-success" : "";

                                    <tr class='@rowClass'>
                                        <td><strong> @sl.AsOf  </strong></td>
                                        <td><strong>  @sl.BegBal</strong></td>
                                        <td>@sl.Credit</td>
                                        <td><strong>@sl.Availed</strong></td>
                                        <td><strong>@sl.Monetized</strong></td>
                                        <td>@sl.EndBal</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="createmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Leave Request</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="createForm">
                        <input type="hidden" id="SelectedDatesJson" name="SelectedDates" />
                        <input type="hidden" id="dateSelected" name="dateSelected" />

                        <input type="hidden" id="SelectedLeaveTypeAmount" name="SelectedLeaveTypeAmount" value="0" />
                        <input type="hidden" id="preloadedDates" />
                        <input type="hidden" id="isMultiple" name="isMultiple" value="1">

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="frmText"><span class="required">*</span> Type</label>
                                <select id="leaveTypeSelect" class="form-select" required onchange="GetLeaveTypeAmount()">
                                    <option value="">select type</option>
                                </select>

                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label class="frmText"><span class="required">*</span> No. of Days</label>
                                @*  <input type="number" min="0" step="any" name="NO_DAYS" class="form-control frmField" autocomplete="off"> *@
                               @*  <input type="text" step="any" id="NoOfDays" name="NoOfDays" class="form-control frmField" autocomplete="off" onkeypress="return isNumericDecimalKey(event,this);"> *@
                                <input type="text" id="NoOfDays" name="NoOfDays" class="form-control frmField" autocomplete="off" onkeypress="return isNumericDecimalKey(event, this)" oninput="validateNumber(this)" />
                            </div>
                        </div>

                        <div class="col-lg-12">
                            <div class="form-group" id="datepickerDate">
                                <label class="frmText"><span class="required">*</span> Period Covered: </label>
                                <div class="input-group">
                                    <input type="text" name="COVERED_DATE" id="dateCovered" class="form-control frmField" autocomplete="off">
                                    <div class="input-group-prepend prependBtn">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                                <label for="dateCovered" generated="true" class="error"></label>
                            </div>

                            <div class="form-group" id="datepickerLabel">
                                <label class="frmText"><span class="required">*</span> Period Covered: </label>
                                <div class="input-group">

                                    @*  <span class='d-inline-block mb-1 border applicationStatus bg-light text-dark text-xs'>June 24 2025</span> *@
                                    <div id="dateContainer"></div>

                                </div>
                                <label for="dateCovered" generated="true" class="error"></label>
                            </div>

                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <label class="frmText"><span class="required">*</span> Reason:</label>
                                <textarea class="form-control frmField" name="Reason" id="Reason"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer pt0">
                    <div id="btnSubmit">
                        <button class="btn btnPrimary btn-icon-split d-block" type="button" onclick="save()">
                            <span class="icon text-white-50">
                                <i class="fa-regular fa-file-lines text-xs"></i>
                            </span>
                            <span class="text"><small>Submit </small></span>
                        </button>
                    </div>
                    <div id="btnCancel">
                        <button class="btn btnDanger btn-icon-split d-block" type="button" onclick="cancel()">
                            <span class="icon text-white-50">
                                <i class="fa-regular fa-file-lines text-xs"></i>
                            </span>
                            <span class="text"><small>Cancel Request</small></span>
                        </button>
                    </div>
                    <button class="btn btnSecondary btn-icon-split d-block" data-dismiss="modal">
                        <span class="icon text-white-50">
                            <i class="fa-solid fa-xmark text-xs"></i>
                        </span>
                        <span class="text"><small>Close </small></span>
                    </button>

                </div>
            </div>
        </div>
    </div>

</div>

@section scripts {

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>
    <script src="~/js/dci-validation.js"></script>


    @*  Export Button*@
    <script src="https://cdn.datatables.net/buttons/3.2.1/js/dataTables.buttons.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/3.2.1/js/buttons.print.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.dataTables.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.2.1/css/buttons.dataTables.css">

    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const urlParams = new URLSearchParams(window.location.search);
         console.log("bypass-" + urlParams);
            const id = urlParams.get('leaveId');
            if (id) {
                editForm(id);
            }
        });
    </script>



    <script type="text/javascript">
                         var js = jQuery.noConflict(true);
                         $('.spinner-overlay').show();

                         setTimeout(() => {
                             $('.spinner-overlay').hide();
                         }, 200);

                         let fp;

                        $(document).ready(function () {
                              js('#tblDocument').DataTable({
                                        dom: '<"d-flex flex-column"<"d-flex justify-content-between align-items-center mb-2"B><"d-flex justify-content-between align-items-center"l<f>>>rtip',
                         buttons: [
                             {
                                 extend: 'excel',
                                 text: 'Excel',
                                 title: 'Document Report',
                                 exportOptions: {
                                     columns: ':not(:last-child)' // Excludes the last column
                                 }
                             },
                             {
                                 extend: 'pdf',
                                 text: 'PDF',
                                 title: 'Document Report',
                                 exportOptions: {
                                     columns: ':not(:last-child)' // Excludes the last column
                                 }
                             }
                         ],
                         lengthMenu: [ [10, 25, 50, -1], [10, 25, 50, "All"] ], // Entries per page
                         pageLength: 10 ,// Default entries per page
                                 order: [[1, 'desc']]
                              });



                             let nodays = 0.0000;

                                  
                                                            fp =    flatpickr("#dateCovered", {
                                                                           mode: "multiple",                                                                         
                                                                           enableTime: false,
                                                                           dateFormat: "Y-m-d",
                                                                           onChange: function(selectedDates, dateStr, instance) {
                                                                             // Update number of selected days
                                                                             let nodays = selectedDates.length;
                                                                            // alert("nodays" + nodays); 
                                                                                    let amount =     $('#SelectedLeaveTypeAmount').val();
                                                                                    //   let iMultiple =     $('#isMultiple').val();
                                                                                            //   alert("amount" + amount);
                                                                            //   console.log(nodays);

                                                                          let total = amount * nodays;
                                                                     
                                                                         let formattedDays = total.toFixed(4);
                                                                             $('#NoOfDays').val(formattedDays);


                                                                             // if($('#isMultiple').val() == 1){
                                                                             //         fp.set("mode", "multiple");
                                                                             // }else{
                                                                             //     console.log("false daw")
                                                                             //         fp.set("mode", "single");
                                                                             // }
                                                                                     

                                                                             let selectedDateStrings = selectedDates.map(date =>
                                                                               instance.formatDate(date, "Y-m-d")
                                                                             );

                                                                                  

                                                                             $('#SelectedDatesJson').val(JSON.stringify(selectedDateStrings));
                                                                           }
                                                                         });


                  $('#createForm').submit(function (event) {
                      event.preventDefault();
                     // alert("ok")

              }); //submit
                           }); //end doc

                    function newForm() {
                       const my_fp = document.querySelector("#dateCovered")._flatpickr;
                                       my_fp.clear();
                                   let nodays = 0.0000;
                                 $('#NoOfDays').val(nodays.toFixed(4));
                             $('#Reason').val('');
                                   $('#datepickerDate').show();
                                  $('#datepickerLabel').hide();
                               $('#btnCancel').hide();
                                 $('#btnSubmit').show();

                          $.ajax({
                              type: 'POST',
                              url: '@Url.Action("RequestLeave", "DailyTimeRecord")',
                              success: function (response) {
                                  if (response.success) {

                                      $('#createForm').find('input, select, textarea').prop('disabled', false);

                                 var $select = $('#leaveTypeSelect');
                                  $select.empty();
                                  $select.append('<option value="">Select type</option>');

                                  $.each(response.data.optionsLeaveType, function (index, item) {
                                 if (item.value == response.data.leaveRequestHeader.leaveTypeId) {
                                          $select.append('<option value="' + item.value + '" selected="selected">' + item.text + '</option>');
                                      } else {
                                          $select.append('<option value="' + item.value + '">' + item.text + '</option>');
                                      }
                                  });

                             console.log(response);

                          // $('#dateCovered').val(response.data.selectedDateJson);
                            $('#NoOfDays').val(response.data.leaveRequestHeader.noofDays);
                                 $('#Reason').val(response.data.leaveRequestHeader.reason);
                            //  $('#preloadedDates').val(response.data.leaveRequestHeader.selectedDateJson);

        //  let preloaded = response.data.selectedDateJson;
            // let preloaded = JSON.parse(raw);
                                 // let preloaded = JSON.parse(document.getElementById("preloadedDates").value);
                               //  let preloaded = document.getElementById("preloadedDates").value;


                                    // let fp = flatpickr("#dateCovered", {
                                    //        mode: "multiple",
                                    //         dateFormat: "Y-m-d"
                                    //      });


                       // let preloaded = ["2025-06-10", "2025-06-15", "2025-06-20"];
                                //    fp.setDate(["2025-06-10", "2025-06-15", "2025-06-20"]);
                                       // console.log(preloaded);
                                      //  fp.setDate(preloaded);

                                      js('#createmodal').modal('show');
                                  } else {
                                      Swal.fire({
                                          text: response.message,
                                          icon: "error"
                                      });
                                  }
                                  $('.spinner-overlay').hide();
                              },
                              error: function () {
                                  $('.spinner-overlay').hide();
                                  Swal.fire({
                                      text: "An error occurred. Please try again.",
                                      icon: "error"
                                  });
                              }
                          });

                     js('#createmodal').modal('show');

                    }

                     function editForm(leaveHdrId) {
                                 $('#datepickerDate').hide();
                                    $('#datepickerLabel').show();
                                 const my_fp = document.querySelector("#dateCovered")._flatpickr;
                                          if (typeof my_fp !== "undefined") {
                                           my_fp.clear();
                                          }

                                  let nodays = 0.0000;
                                  $('#NoOfDays').val(nodays.toFixed(4));
                                  $('#Reason').val('');
                                    const formData = new FormData();
                                  formData.append('LeaveRequestHeaderId', leaveHdrId);


                         $.ajax({
                             type: 'POST',
                             url: '@Url.Action("RequestLeave", "DailyTimeRecord")',
                             data: formData,
                             processData: false,
                             contentType: false,
                             success: function (response) {
                                 if (response.success) {

                                 var $select = $('#leaveTypeSelect');
                                     $select.empty();
                                     $select.append('<option value="">Select type</option>');

                                     $.each(response.data.optionsLeaveType, function (index, item) {
                                 if (item.value == response.data.leaveRequestHeader.leaveTypeId) {
                                         $select.append('<option value="' + item.value + '" selected="selected">' + item.text + '</option>');
                                     } else {
                                         $select.append('<option value="' + item.value + '">' + item.text + '</option>');
                                     }
                                 });

                                    console.log(response);

                                   var container = $('#dateContainer'); // Make sure you have this container in your HTML
                                      container.empty(); // Clear previous spans

                                             // let dateArray = JSON.parse(response.data.leaveDateList); // turns string into array
                                             // dateArray.forEach(function (date) {
                                             //     var span = `<span class='d-inline-block mb-1 border applicationStatus bg-light text-dark text-xs'>${date}</span>`;
                                             //     $('#dateContainer').append(span);
                                             // });
                                                  response.data.leaveDateList.forEach(function (date) {
                                                  var span = `<span class='d-inline-block mb-1 border applicationStatus bg-light text-dark text-xs'>${date}</span>`;
                                                  container.append(span);
                                              });



                                           //$('#dateCovered').val(response.data.selectedDateJson);
                                          $('#NoOfDays').val(response.data.leaveRequestHeader.noofDays);
                                                 $('#Reason').val(response.data.leaveRequestHeader.reason);

                                            $('#btnCancel').hide();
                                             $('#createForm').find('input, select, textarea').prop('disabled', true);
                                   if(response.data.leaveRequestHeader.status == 2){  //pending
                                                $('#btnCancel').show();
                                                 $('#btnSubmit').hide();
                                              }
                                else if(response.data.leaveRequestHeader.status == 4){     //approved
                                               $('#btnSubmit').hide();
                                                   $('#btnCancel').hide();
                                    }
                                         else if(response.data.leaveRequestHeader.status == 5){     //Rejected
                                                $('#btnSubmit').hide();
                                                    $('#btnCancel').hide();
                                     }


                           //  $('#preloadedDates').val(response.data.leaveRequestHeader.selectedDateJson);

                          let preloaded = response.data.selectedDateJson;
                                     // let preloaded = JSON.parse(raw);
                                // let preloaded = JSON.parse(document.getElementById("preloadedDates").value);
                              //  let preloaded = document.getElementById("preloadedDates").value;




                                   let fp = flatpickr("#dateCovered", {
                                          mode: "multiple",
                                           dateFormat: "Y-m-d"
                                        });


                                   // let preloaded = ["2025-06-10", "2025-06-15", "2025-06-20"];
                               //    fp.setDate(["2025-06-10", "2025-06-15", "2025-06-20"]);
                                       console.log(preloaded);
                                       fp.setDate(preloaded);

                                     js('#createmodal').modal('show');
                                 } else {
                                     Swal.fire({
                                         text: response.message,
                                         icon: "error"
                                     });
                                 }
                                 $('.spinner-overlay').hide();
                             },
                             error: function () {
                                 $('.spinner-overlay').hide();
                                 Swal.fire({
                                     text: "An error occurred. Please try again.",
                                     icon: "error"
                                 });
                             }
                         });

                    js('#createmodal').modal('show');

                   }

                function save() {
                        const leaveTypeId = $('#leaveTypeSelect').val();
                     const selectedDatesJson = $('#SelectedDatesJson').val();



                         const noOfDays = $('#NoOfDays').val();
                           const reason = $('#Reason').val();

                             const formData = new FormData();
                            formData.append('LeaveTypeId', leaveTypeId);
                             formData.append('NoOfDays', noOfDays);
                              formData.append('SelectedDateJson', selectedDatesJson);

                               formData.append('Reason', reason);


                  Swal.fire({
                      text: "Are you sure you want to save this record?",
                      icon: "question",
                      showCancelButton: true,
                      confirmButtonText: "Ok"
                  }).then((result) => {
                      if (result.isConfirmed) {
                          $('.spinner-overlay').show();

                          $.ajax({
                              type: 'POST',
                              url: '@Url.Action("SaveLeave", "DailyTimeRecord")',
                              data: formData,
                                  processData: false,
                                     contentType: false,
                              success: function (response) {
                                  if (response.success) {
                                      $('#createForm')[0].reset();
                                      js('#createmodal').modal('hide');

                                      Swal.fire({
                                          text: response.message,
                                          icon: "success",
                                          confirmButtonText: "Ok"
                                      }).then((result) => {
                                          location.reload();
                                      });

                                  } else {
                                      Swal.fire({
                                          text: response.message,
                                          icon: "error"
                                      });
                                  }
                                  $('.spinner-overlay').hide();
                              },
                              error: function () {
                                  $('.spinner-overlay').hide();
                                  Swal.fire({
                                      text: "An error occurred. Please try again.",
                                      icon: "error"
                                  });
                              }
                          });
                      }
                  });

               }

               function GetLeaveTypeAmount(){
                     let leave =  $('#leaveTypeSelect').val();
                      console.log("getleave" + leave);
                     let  _amount = 0.0000;
                    

                    if(leave ==1){

                       _amount = 0.5000;
                       $('#SelectedLeaveTypeAmount').val(_amount);
                           $('#isMultiple').val(0);
                       
                    }else{
                        _amount = 1.0000;
                       $('#SelectedLeaveTypeAmount').val(_amount);
                       $('#isMultiple').val(1);
                    }

                     //console.log("x", $('#isMultiple').val())

                        const my_fp = document.querySelector("#dateCovered")._flatpickr;
                        my_fp.clear();

                       // initFlatpickr(isMultiple)
                 }

               //         var fp;
               //          function initFlatpickr(condition) {
               //              if (fp) {
               //                  fp.destroy(); // clean up existing instance
               //              }

               //              fp = flatpickr("#dateCovered", {
               //                  mode: condition ? "multiple" : "single",
               //                  dateFormat: "Y-m-d"
               //              });
               //          }

                       

                    // function GetLeaveTypeAmount() {
                    //     let leave = $('#leaveTypeSelect').val();
                    //     let _amount = 0.0000;
                    //     let isMultiple = true;

                    //     if (leave == 1) {
                    //         isMultiple = false;
                    //         _amount = 0.5000;                               
                    //     } else {
                    //         _amount = 1.0000;
                    //     }

                       

                    //     // Destroy old flatpickr if it exists
                    //     if (fp) {
                    //         fp.destroy();
                    //     }

                    //     // Re-initialize with correct mode
                    //     fp = flatpickr("#dateCovered", {
                    //         mode: isMultiple ? "multiple" : "single",
                    //         dateFormat: "Y-m-d"
                    //     });


                    
                    //      $('#SelectedLeaveTypeAmount').val(_amount);
                    //          fp.clear();
                    //        }
                        

                       function isNumericDecimalKey(evt, el) {
                            const k = evt.key; // more reliable than keyCode for modern browsers

                            // Allow navigation/edit keys
                            if (k === 'Backspace' || k === 'Tab' || k === 'ArrowLeft' || k === 'ArrowRight' || k === 'Home' || k === 'End') {
                                return true;
                            }

                            // Allow only digits
                            if (k >= '0' && k <= '9') return true;

                            // Allow a single decimal point (not as the first char)
                            if (k === '.') {
                                if (el.value.length === 0) { evt.preventDefault(); return false; }
                                if (el.value.indexOf('.') === -1) return true;
                                evt.preventDefault();
                                return false;
                            }

                            // Block everything else (e, E, -, +, spaces, etc.)
                            evt.preventDefault();
                            return false;
                        }

      

        function validateNumber(el) {
            let v = el.value;

            // Remove all characters except digits and dot
            v = v.replace(/[^\d.]/g, '');

            // Remove leading dot
            v = v.replace(/^\./, '');

            // Only one dot allowed
            let parts = v.split('.');
            if (parts.length > 2) {
                v = parts[0] + '.' + parts[1]; // ignore extra dots
                parts = v.split('.');
            }

            // Limit before decimal to 3 digits
            if (parts[0].length > 3) {
                parts[0] = parts[0].substring(0, 3);
            }

            // Limit after decimal to 4 digits
            if (parts[1] && parts[1].length > 4) {
                parts[1] = parts[1].substring(0, 4);
            }

            // Recombine
            el.value = parts.join('.');
        }

         function getLeaveByYear() {

           
                  var _year = document.getElementById("yearSelect").value;
                 
                    $.ajax({
                              type: 'POST',
                              url: '@Url.Action("LeaveDropdown", "DailyTimeRecord")',
                              data: { filteryear : _year},
                                 
                              success: function (response) {
                                  if (response.success) {

                                            var now = new Date();
                                            var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
                                                              "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                                            var currentMonth = monthNames[now.getMonth()] + "-" + now.getFullYear();
                                         
                                                                       
                                       var tbodytableVL = $("#tblVL");
                                                tbodytableVL.empty();

                                                if (response.data.vlSummaries.length > 0) {

                                                    $.each(response.data.vlSummaries, function(index, item) {
                                                           var highlightClass = (item.asOf === currentMonth) ? "table-success" : "";

                                                                    var row = `<tr class="${highlightClass}">
                                                                            <td><strong>${item.asOf}</strong></td>
                                                                            <td><strong>${parseFloat(item.begBal).toFixed(4)}</strong></td>
                                                                            <td>${parseFloat(item.credit).toFixed(4)}</td>
                                                                            <td><strong>${parseFloat(item.availed).toFixed(4)}</strong></td>
                                                                            <td><strong>${parseFloat(item.monetized).toFixed(4)}</strong></td>
                                                                            <td>${parseFloat(item.endBal).toFixed(4)}</td>
                                                                        </tr>`;
                                                        tbodytableVL.append(row);
                                                    });
                                                }

                                                  var tbodytableSL = $("#tblSL");
                                                tbodytableSL.empty();
                                                if (response.data.slSummaries.length > 0) {
                                                    $.each(response.data.slSummaries, function(index, item) {
                                                         var highlightClass = (item.asOf === currentMonth) ? "table-success" : "";

                                                             var row = `<tr class="${highlightClass}">
                                                                            <td><strong>${item.asOf}</strong></td>
                                                                            <td><strong>${parseFloat(item.begBal).toFixed(4)}</strong></td>
                                                                            <td>${parseFloat(item.credit).toFixed(4)}</td>
                                                                            <td><strong>${parseFloat(item.availed).toFixed(4)}</strong></td>
                                                                            <td><strong>${parseFloat(item.monetized).toFixed(4)}</strong></td>
                                                                            <td>${parseFloat(item.endBal).toFixed(4)}</td>
                                                                        </tr>`;
                                                        tbodytableSL.append(row);
                                                    });
                                                }



                                  } else {
                                      Swal.fire({
                                          text: response.message,
                                          icon: "error"
                                      });
                                  }
                                  $('.spinner-overlay').hide();
                              },
                              error: function () {
                                  $('.spinner-overlay').hide();
                                  Swal.fire({
                                      text: "An error occurred. Please try again.",
                                      icon: "error"
                                  });
                              }
                          });
        }
    </script>
}