@model DCI.Models.ViewModel.DocumentDetailsViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>

</head>
<body>

    <div class="container mt-4">
        <div class="row">          
            <div class="col-md-6">
                <h4 class="mb-3">Document Details: </h4>
                <form>
                    <div class="mt-3 text-center">
                        <span class="alert alert-primary d-inline-block px-4 py-2 rounded">
                            <strong>Status:</strong> @Model.Status
                        </span>
                    </div>
                    <div class="row mb-3">
                      
                        <div class="col-md-6">
                            <label class="form-label">Document No</label>
                            <input type="text" class="form-control" value="@Model.DocNo" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Document Name</label>
                            <input type="text" class="form-control" value="@Model.DocName" readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Document Type</label>
                            <input type="text" class="form-control" value="@Model.DocTypeName" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Department</label>
                            <input type="text" class="form-control" value="@Model.DocDept" readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Reviewer</label>
                            <input type="text" class="form-control" value="@Model.Reviewer" readonly>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Approver</label>
                            <input type="text" class="form-control" value="@Model.Approver" readonly>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-md-6">
                            <label class="form-label">Requestor</label>
                            <input type="text" class="form-control" value="@Model.Requestor" readonly>
                        </div>
                       
                    </div>     
                </form>
            </div>

            <!-- PDF Viewer -->
            <div class="col-md-6">
                <h4 class="mb-3">PDF Viewer</h4>
                <iframe id="pdfViewer" src="@Model.PdfBytes"  class="w-100" style="height: 500px; border: 1px solid #ccc;"></iframe>
            </div>
        </div>
    </div>

</body>
</html>


@section scripts {
<script src="https://unpkg.com/pdf-lib@1.4.0"></script>
<script type="text/javascript">
      const { degrees, PDFDocument, rgb, StandardFonts } = PDFLib

    $(document).ready(function () {                                   

    });

</script>
}

