@model IEnumerable<DCI.Models.ViewModel.DocumentViewModel>

<link href="~/css/main.css" rel="stylesheet" />

<style>
	/* Hide the default file input */
	/* 	#fileUpload {
									display: none;
								} */

	/* Style the custom button */
	.custom-file-label {
		padding: 8px 16px;
		background-color: #007bff;
		color: white;
		border-radius: 4px;
		cursor: pointer;
	}

	.file-name {
		margin-left: 10px;
		font-style: italic;
	}
</style>
<div class="container-fluid">
	<div class="d-sm-flex align-items-center justify-content-between mb-3">
		<h6 class="m-0 font-weight-bold text-gray-800">Document</h6>
		<div class="upperRightDivBtn">
			<a href="#" class="btn btnPrimary btn-icon-split" onclick="newForm()">
				<span class="icon text-white"><i class="fa-solid fa-plus text-xs"></i></span>
				<span class="text"><small>Add Document</small></span>
			</a>
		</div>

	</div>
	<div class="col-12 p0">
		<ul class="breadcrumb">
			<li><a href="~/Home/Index">Home</a></li>
			<li>Document</li>
		</ul>
	</div>

	@* <p>
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createmodal">Add Employment Type</button>
	</p> *@
	<div class="card shadow mb-4">
		<div class="card-header">
			<label class="mb0">Data</label>
		</div>
		<div class="card-body">
			<div class="table-responsive mt20">
				<table class="table table-bordered" id="tblDocument" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>
								<label>Id</label>
							</th>
							<th>
								<label>Document No</label>
							</th>
							<th>
								<label>Document Name</label>
							</th>
							<th>
								<label>Document Type</label>
							</th>
							<th>
								<label>Date Created</label>
							</th>
							<th>
								<label>Created By</label>
							</th>
							<th>
								Action
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								<td>
									@item.DocId
								</td>
								<td>
									@item.DocNo
								</td>
								<td>
									@item.DocName
								</td>
								<td>
									@item.DocTypeName
								</td>
								<td>
									@item.DateCreated.ToShortDateString()
								</td>
								<td>
									@item.CreatedName
								</td>

								<td>
									<a href="#" onclick="editForm(@item.DocId,1)" class="btn btn-primary"><i class="fas fa-search"></i></a> |
									<a href="#" id="editForm" onclick="editForm(@item.DocId,0)" class="btn btn-info"><i class="fa fa-edit"></i></a> |
									<a href="#" id="deleteform" class="btn btn-danger" onclick="deleteform(@item.DocId)"><i class="far fa-trash-alt"></i></a>
								</td>
							</tr>
						}
					</tbody>
				</table>
			</div>
			</<div>
			</div>

			<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="createmodal">
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">New Document</h5>
							@* 			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
							</button> *@
						</div>
						<form id="createForm">
							<div class="modal-body">
								<input type="hidden" id="DocId" name="DocId">
								<div class="row">
									<div class="col">
										<label for="DocNo" class="col-form-label">Document No:</label>
										<input type="text" class="form-control" id="DocNo" name="DocNo" value="DOC-MOA-20240906-001" disabled maxlength="15">
									</div>
									<div class="col">
										<label for="DocName" class="col-form-label">Document Name:</label>
										<input type="text" class="form-control" id="DocName" name="DocName" maxlength="100">
									</div>
								</div>
								<div class="row">
									<div class="col">
										<label for="DocTypeId" class="col-form-label">Document Type:</label>
										<select id="documentSelect" class="form-select">
											<option value="">select type</option>
										</select>
									</div>
									<div class="col">
										<div class="col">
											<label for="DocCatId" class="col-form-label">Document Category:</label>
											<select id="docCategorySelect" class="form-select">
												<option value="">select type</option>
												<option value="0">Internal</option>
												<option value="1">Internal/External</option>
											</select>
										</div>
									


									</div>
								</div>
								<div class="row">
									<div class="col">
										<label for="Department" class="col-form-label">Department:</label>
										<select id="departmentSelect" class="form-select">
											<option value="">select department</option>									
										</select>
									</div>
									<div class="col">
										<label for="fileUpload" class="col-form-label">File Upload:</label>
										<br id="nextline" />
										<input type="file" class="form-control" id="fileUpload" name="fileUpload" />

										<span class="file-name">No file chosen</span>


										<a asp-controller="Document" asp-action="ViewDocument" asp-route-id="0" id="viewFile" target="_blank" class="btn btn-primary"> | <i class="fa fa-download"></i></a>

										<a href="#" id="deleteFile" onclick="removefile()" class="btn btn-danger">| <i class="far fa-trash-alt"></i></a>
									</div>
								</div>
								<hr />
								<div class="row">
											<div class="col">
										<label for="Reviewer" class="col-form-label">Reviewer:</label>
												<select id="reviewerSelect" class="form-select">
													<option value="">select reviewer</option>
													<option value="0">User 1</option>
													<option value="1">User 2</option>
												</select>
											</div>
									<div class="col">
										<label for="Approver" class="col-form-label">Approver:</label>
										<select id="approverSelect" class="form-select">
											<option value="">select approver</option>
											<option value="0">User 1</option>
											<option value="1">User 2</option>
										</select>
									</div>
									</div>
								<div class="row">
									
									<div class="col">
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary">Submit</button>
							</div>
						</form>

					</div>
				</div>
			</div>




		</div>


		@section scripts {
			<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
			<script src="https://cdn.datatables.net/2.1.2/js/dataTables.js"></script>



			<script src="~/js/file-upload.js"></script>

			<script type="text/javascript">
				var js = jQuery.noConflict(true);

				$(document).ready(function () {
					js('#tblDocument').DataTable({
					});

					$('#fileUpload').on('change', function () {
						var fileName = this.files[0] ? this.files[0].name : 'No file chosen';
						document.querySelector('.file-name').textContent = '';

						const newrecord = $('#DocId').val();

						if (newrecord != 0) {
							$('.file-name').text(fileName);
						}

					});

					$('#createForm').submit(function (event) {
						event.preventDefault();
						const fileInput = document.getElementById('fileUpload');
						const file = fileInput.files[0]; // Get the first selected file
						const docId = $('#DocId').val();
						const docNo = $('#DocNo').val();
						const docName = $('#DocName').val();
						const doctypeId = $('#documentSelect').val();

						// var formData = $(this).serialize();
						const formData = new FormData();
						formData.append('DocId', docId);
						formData.append('DocNo', docNo);
						formData.append('DocName', docName);
						formData.append('DocTypeId', doctypeId);
						formData.append('DocFile', file);

						bootbox.confirm('Are you sure?', function (result) {
							if (result) {

								$.ajax({
									type: 'POST',
									url: '@Url.Action("SaveDocument", "Document")',
									data: formData,
									processData: false,
									contentType: false,
									success: function (response) {
										if (response.success) {
											$('#createForm')[0].reset();
											js('#createmodal').modal('hide');
											bootbox.alert(response.message, function () {
												location.reload();
											});
										} else {
											bootbox.alert(response.message);
										}
									},
									error: function () {
										bootbox.alert('An error occurred. Please try again.');
									}
								});
							}
						});
					});

				});

				function newForm() {
					$.ajax({
						type: 'POST',
						url: '@Url.Action("EditDocument", "Document")',
						success: function (response) {
							console.log(response.data);
							if (response.success) {
								$('#DocId').val("0");
								$('#DocNo').val("");
								$('#DocName').val("");
								$('#DocTypeId').val(0);

								var $select = $('#documentSelect');
								$select.empty();
								$select.append('<option value="">Select type</option>');

								$.each(response.data.optionsDocumentType, function (index, item) {
									if (item.value == response.data.docTypeId) {
										$select.append('<option value="' + item.value + '" selected="selected">' + item.text + '</option>');
									} else {
										$select.append('<option value="' + item.value + '">' + item.text + '</option>');
									}
								});

								var $select = $('#departmentSelect');
								$select.empty();
								$select.append('<option value="">Select type</option>');

								$.each(response.data.optionsDepartment, function (index, item) {
									if (item.value == response.data.departmentId) {
										$select.append('<option value="' + item.value + '" selected="selected">' + item.text + '</option>');
									} else {
										$select.append('<option value="' + item.value + '">' + item.text + '</option>');
									}
								});

								document.querySelector('.file-name').textContent = '';
								$('#fileUpload').show();
								$('#viewFile').hide();
								$('#deleteFile').hide();

								$('#DocName').prop('disabled', false);
								$('#documentSelect').prop('disabled', false);
								$('#fileUpload').prop('disabled', false);
								js('#createmodal').modal('show');
							} else {
								bootbox.alert(response.message);
							}
						},
						error: function () {
							bootbox.alert('An error occurred. Please try again.');
						}
					});
				}

				function editForm(id, view) {

					$.ajax({
						type: 'POST',
						url: '@Url.Action("EditDocument", "Document")',
						data: { DocId: id },
						success: function (response) {
							console.log(response.data);
							if (response.success) {
								$('#DocId').val(response.data.docId);
								$('#DocNo').val(response.data.docNo);
								$('#DocName').val(response.data.docName);
								$('#DocTypeId').val(response.data.docTypeId);

								var $select = $('#documentSelect');
								$select.empty();
								$select.append('<option value="">Select type</option>');

								$.each(response.data.optionsDocumentType, function (index, item) {
									if (item.value == response.data.docTypeId) {
										$select.append('<option value="' + item.value + '" selected="selected">' + item.text + '</option>');
									} else {
										$select.append('<option value="' + item.value + '">' + item.text + '</option>');
									}
								});

								var $select = $('#departmentSelect');
								$select.empty();
								$select.append('<option value="">Select type</option>');

								$.each(response.data.optionsDepartment, function (index, item) {
									if (item.value == response.data.departmentId) {
										$select.append('<option value="' + item.value + '" selected="selected">' + item.text + '</option>');
									} else {
										$select.append('<option value="' + item.value + '">' + item.text + '</option>');
									}
								});


								var linkElement = document.getElementById("viewFile");
								linkElement.setAttribute('href', '/Document/ViewDocument?DocId=' + response.data.docId);

								document.querySelector('.file-name').textContent = response.data.filename;
								$('#fileUpload').hide();
								$('#viewFile').show();


								if (view == 1) {	//VIEW button
									$('#DocName').prop('disabled', true);
									$('#documentSelect').prop('disabled', true);
									$('#fileUpload').prop('disabled', true);
									$('#deleteFile').hide();
								}
								else {  //Edit button
									$('#DocName').prop('disabled', false);
									$('#documentSelect').prop('disabled', false);
									$('#fileUpload').prop('disabled', false);
									$('#deleteFile').show();
								}

								js('#createmodal').modal('show');
							} else {
								bootbox.alert(response.message);
							}
						},
						error: function () {
							bootbox.alert('An error occurred. Please try again.');
						}
					});
				}

				function deleteform(id) {
					bootbox.confirm('Are you sure?', function (result) {
						if (result) {
							$.ajax({
								type: 'POST',
								url: '@Url.Action("DeleteDocument", "Document")',
								data: { DocId: id },
								success: function (response) {
									if (response.success) {
										bootbox.alert(response.message, function () {
											location.reload();
										});
									} else {
										bootbox.alert(response.message);
									}
								},
								error: function () {
									bootbox.alert('An error occurred. Please try again.');
								}
							});
						}
					});
				}

				function removefile() {
					bootbox.confirm('Are you sure?', function (result) {
						if (result) {
							document.querySelector('.file-name').textContent = '';
							$('#fileUpload').show();
							$('#viewFile').hide();
							$('#deleteFile').hide();

							// $('#fileUpload').on('change', function () {
							// 	var fileName = this.files[0] ? this.files[0].name : 'No file chosen';
							// 	$('.file-name').text(fileName);
							// });
						}
					});
				}
			</script>
		}
