@model DCI.PMS.Models.ViewModel.ProjectViewModel
@using Newtonsoft.Json;
@using DCI.Core.Common;
@using DCI.Models.ViewModel;

<link href="~/css/dcicustom.css" rel="stylesheet" />

@* @{
    var modulePageAccess = Context.Session.GetString("ModulePageAccess");
    var canView = false;
    var canAdd = false;
    var canEdit = false;
    var canDelete = false;

    if (modulePageAccess == null)
    {
        <script>
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Logout", "Account")',
                success: function (response) {

                    Swal.fire({
                        text: "Your session has timed out. Please log in again.",
                        icon: "info",
                        confirmButtonText: "Ok"
                    }).then((result) => {
                        window.location.href = '/Account/Logout';
                    });
                },
                error: function () {
                    Swal.fire({
                        text: "An error occurred. Please try again.",
                        icon: "error"
                    });
                }
            })
        </script>
    }
    else
    {
        var module = JsonConvert.DeserializeObject<List<ModuleInRoleViewModel>>(modulePageAccess)?
                    .FirstOrDefault(x => x.ModulePageId == (int)EnumModulePage.Attendance);
        canView = module?.View ?? false;
        canAdd = module?.Add ?? false;
        canEdit = module?.Update ?? false;
        canDelete = module?.Delete ?? false;
    }
}
 *@
<div class="container-fluid">
    <div class="spinner-overlay">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h6 class="m-0 font-weight-bold text-gray-800">Project</h6>

    </div>
    <div class="col-12 p0">
        <ul class="breadcrumb">
            <li><a href="~/Home/Index">Dashboard</a></li>
            <li><a href="~/Project/Index">Project</a></li>
            <li><a href="#">Create</a></li>
        </ul>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header">
            <label class="mb0">Data</label>
        </div>
        <div class="card-body">



            <form id="createForm" asp-controller="Project" asp-action="SaveProject" method="post" enctype="multipart/form-data">
                <div class="modal-body">

                    <div class="project-dates">
                        <div id="step1">
                            <input type="hidden" id="ProjectCreationId" name="ProjectCreationId" value="@Model.ProjectCreationId">


                            <div class="row">
                                <label for="ProjectName" class="col-sm-2 col-form-label">Project Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="ProjectName" name="ProjectName" placeholder="Project Name" value="@Model.ProjectName">
                                </div>
                            </div>
                            <div class="row">
                                <label for="ClientName" class="col-sm-2 col-form-label">Client Name</label>
                                <div class="col-sm-8">
                                    @*   <input type="text" class="form-control" id="ClientName" name="ClientName" placeholder="Client Name"> *@
                            @*         <select class="form-control frmField" name="ClientId" id="ClientId" required>
                                        <option value="" disabled selected>Select</option>
                                        <option value="1" class="TIME_IN">Client A</option>
                                        <option value="2" class="TIME_OUT">Client B</option>
                                        <option value="3" class="TIME_OUT">Client C</option>
                                        <option value="4" class="TIME_OUT">Client D</option>
                                        <option value="5" class="TIME_OUT">Client E</option>
                                    </select> *@
                                    @Html.DropDownListFor(m => m.ClientId, new SelectList(Model.ClientList, "ClientId", "ClientName"), "Select", new { @class = "form-control frmField", required = "required" })
                                </div>
                            </div>
                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Project Cost</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="ProjectCost" name="ProjectCost" placeholder="Project Cost" value="@Model.ProjectCost">
                                </div>
                            </div>

                            <style>
                                .file-icon {
                                    position: relative;
                                    display: inline-block;
                                    font-size: 32px;
                                }

                                .pdf-icon {
                                    color: #dc3545; /* red PDF icon */
                                }

                                .delete-btn {
                                    position: absolute;
                                    top: -6px;
                                    right: -6px;
                                    width: 18px;
                                    height: 18px;
                                    background: #000;
                                    color: #fff;
                                    border-radius: 50%;
                                    font-size: 12px;
                                    font-weight: bold;
                                    text-align: center;
                                    line-height: 18px;
                                    cursor: pointer;
                                }

                                    .delete-btn:hover {
                                        background: #dc3545;
                                    }

                            </style>

                            <!-- NOA -->
                            <div class="row">
                                <label class="col-sm-2 col-form-label">NOA Date</label>

                                <div class="col-sm-4">
                                    <div class="input-group w-100">
                                        <input type="date" id="NOADate" name="NOADate" class="form-control" value="@Model.NOADate.ToString("yyyy-MM-dd")">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <input type="file" class="form-control" id="NOAFile" name="NOAFile" accept="application/pdf" onchange="" />

                                    @if(Model.IsNOAFile == true)
                                    {
                                        <script>
                                            $('#NOAFile').hide();
                                        </script>

                                        <div id="NOAIcon" name="NOAIcon" class="file-icon">
                                            <a href="javascript:void(0)">
                                                <i class="fas fa-file-pdf pdf-icon"></i>
                                            </a>
                                            <span class="delete-btn" title="remove" onclick="removeNoa()">&times;</span>
                                        </div>
                                    }
                                  
                                                                               
                                </div>
                            </div>

                            <!-- NTP -->
                            <div class="row">
                                <label class="col-sm-2 col-form-label">NTP Date</label>

                                <div class="col-sm-4">
                                    <div class="input-group w-100">
                                        <input type="date" id="NTPDate" name="NTPDate" class="form-control" value="@Model.NTPDate.ToString("yyyy-MM-dd")">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <input type="file" class="form-control" id="NTPFile" name="NTPFile" accept="application/pdf" onchange="" />
                                    @if (Model.IsNTPFile == true)
                                    {
                                        <script>
                                              $('#NTPFile').hide();
                                        </script>

                                        <div id="NTPIcon" name="NTPIcon" class="file-icon">
                                            <a href="javascript:void(0)"> <i class="fas fa-file-pdf pdf-icon"></i>                                    
                                        </a>
                                            <span class="delete-btn" title="remove" onclick="removeNtp()">&times;</span>
                                        </div>                                        
                                    }        
                                </div>
                            </div>

                            <!-- MOA -->
                            <div class="row">
                                <label class="col-sm-2 col-form-label">MOA Date</label>

                                <div  class="col-sm-4">
                                    <div class="input-group w-100">
                                        <input type="date" id="MOADate" name="MOADate" class="form-control" value="@Model.MOADate.ToString("yyyy-MM-dd")">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <input type="file" id="MOAFile" name="MOAFile" class="form-control" accept="application/pdf" onchange="">
                                    @if (Model.IsMOAFile == true)
                                    {
                                        <script>
                                            $('#MOAFile').hide();
                                        </script>
                                        <div id="MOAIcon" name="MOAIcon"  class="file-icon">
                                            <a href="javascript:void(0)">
                                                <i class="fas fa-file-pdf pdf-icon"></i>
                                            </a>
                                            <span class="delete-btn" title="remove" onclick="removeMoa()">&times;</span>
                                        </div>
                                    }
                                   
                                </div>
                            </div>


                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Project Duration</label>
                                <div class="col-sm-8">
                              
                                                            @Html.DropDownListFor(
                                                            m => m.ProjectDuration,
                                                                        new List<SelectListItem>
                                                                        {
                                                                        new SelectListItem { Value = "1", Text = "1 month" },
                                                                        new SelectListItem { Value = "2", Text = "6 months" },
                                                                        new SelectListItem { Value = "3", Text = "1 year" },
                                                                        new SelectListItem { Value = "4", Text = "2 years" },
                                                                        new SelectListItem { Value = "5", Text = "5 years" }
                                                                        },
                                                                        "Select",
                                                                        new { @class = "form-control frmField", required = "required" }
                                                                        )
                                </div>
                            </div>

                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Mode of Payment</label>
                                <div class="col-sm-8">
                             
                                    @Html.DropDownListFor(
                                                                        m => m.ModeOfPayment,
                                                                        new List<SelectListItem>
                                                                        {
                                                                        new SelectListItem { Value = "1", Text = "Milestone Based" },
                                                                        new SelectListItem { Value = "2", Text = "Transacational Based" }                                                                     
                                                                        },
                                                                        "Select",
                                                                        new { @class = "form-control frmField", required = "required" }
                                                                        )
                                </div>
                            </div>
                        </div>



                    </div>

                    <div class="modal-footer">
                        <div class="col-sm-18">
                      

                            <button type="submit" class="btn btn-primary">
                                Save Draft & Add Milestone
                            </button>
                        </div>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>

<style>
    /* Override conflicting CSS only inside this section */
    .project-dates .row {
        display: flex !important;
        align-items: center !important;
        flex-wrap: nowrap !important;
        margin-bottom: 10px;
    }

    .project-dates label {
        white-space: nowrap;
        margin-right: 10px;
    }

    .project-dates .col-md-3,
    .project-dates .col-md-4,
    .project-dates .col-md-5 {
        display: flex;
        align-items: center;
    }

        .project-dates .col-md-5 .input-group {
            width: 100%;
        }

    .project-dates button {
        white-space: nowrap;
    }
</style>


@section scripts {



    <script type="text/javascript">
            var js = jQuery.noConflict(true);
            let _datefrom;
            let _dateto;
                    $('.spinner-overlay').show();

        setTimeout(() => {
            $('.spinner-overlay').hide();
        }, 200);


            $(document).ready(function () {

                         flatpickr("#NOADate", {
                                       // dateFormat: "m/d/Y",
                                      // defaultDate: "@Model.NOADate.ToString("MM/dd/yyyy")
                                        defaultDate: new Date(),
                                    });


                         flatpickr("#NTPDate", {
                                       //dateFormat: "m/d/Y",
                                         defaultDate: new Date(),
                                    });


                         flatpickr("#MOADate", {
                                     //  dateFormat: "m/d/Y",
                                       defaultDate: new Date(),
                                    });

            }); //end docu



       function removeNoa(){
            $('#NOAFile').show();
              $('#NOAIcon').hide();
       }

        function removeNtp(){
             $('#NTPFile').show();
               $('#NTPIcon').hide();
        }

          function removeMoa(){
              $('#MOAFile').show();
                 $('#MOAIcon').hide();
         }


    </script>
}
