@model DCI.PMS.Models.ViewModel.MilestoneViewModel
@using Newtonsoft.Json;
@using DCI.Core.Common;
@using DCI.Models.ViewModel;

<link href="~/css/dcicustom.css" rel="stylesheet" />

@* @{
    var modulePageAccess = Context.Session.GetString("ModulePageAccess");
    var canView = false;
    var canAdd = false;
    var canEdit = false;
    var canDelete = false;

    if (modulePageAccess == null)
    {
        <script>
            $.ajax({
                type: 'POST',
                url: '@Url.Action("Logout", "Account")',
                success: function (response) {

                    Swal.fire({
                        text: "Your session has timed out. Please log in again.",
                        icon: "info",
                        confirmButtonText: "Ok"
                    }).then((result) => {
                        window.location.href = '/Account/Logout';
                    });
                },
                error: function () {
                    Swal.fire({
                        text: "An error occurred. Please try again.",
                        icon: "error"
                    });
                }
            })
        </script>
    }
    else
    {
        var module = JsonConvert.DeserializeObject<List<ModuleInRoleViewModel>>(modulePageAccess)?
                    .FirstOrDefault(x => x.ModulePageId == (int)EnumModulePage.Attendance);
        canView = module?.View ?? false;
        canAdd = module?.Add ?? false;
        canEdit = module?.Update ?? false;
        canDelete = module?.Delete ?? false;
    }
}
 *@
<div class="container-fluid">
    <div class="spinner-overlay">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h6 class="m-0 font-weight-bold text-gray-800">Project Creation - Add Deliverables</h6>

    </div>
    <div class="col-12 p0">
        <ul class="breadcrumb">
            <li><a href="~/Home/Index">Dashboard</a></li>
            <li><a href="~/Project/Index">Project</a></li>
            <li><a href="~/Project/CreateEdit">Add Project</a></li>
            <li><a href="~/Project/CreateEdit/Milestone">Milestone</a></li>
            <li><a href="#">Deliverables</a></li>
        </ul>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header">
            <label class="mb0">Data</label>
        </div>
        <div class="card-body">



            <form id="createForm" asp-controller="Project" asp-action="AddDeliverable" method="post" enctype="multipart/form-data">
                <div class="modal-body">

                    <div class="project-dates">
                        <input type="hidden" id="MileStoneId" name="MileStoneId" value="@Model.MileStoneId">
                        <input type="hidden" id="DeliverableId" name="DeliverableId" value="@Model.Deliverable.DeliverableId">
                        <div id="step1">
                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Deliverable Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="DeliverableName" name="DeliverableName" placeholder="Deliverable Name">
                                </div>
                            </div>
                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Status</label>
                                <div class="col-sm-8">
                                   @*  <input type="text" class="form-control" id="Status" name="Status" placeholder="Status"> *@
                                    @Html.DropDownListFor(m => m.Status, new SelectList(Model.StatusList, "StatusId", "StatusName"), "Select", new { @class = "form-control frmField", required = "required", id = "Status" })
                                </div>
                            </div>

                            <div class="row">
                                <label for="attach" class="col-sm-2 col-form-label">Attachment</label>
                                <div class="col-sm-8">
                                    <input type="file" id="OtherAttachmentDeliverable" name="OtherAttachmentDeliverable" class="form-control" accept="application/pdf" multiple onchange="">
                                </div>
                            </div>
                       @*      <div class="row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                                <div id="attachmentContainer" class="attachment-icons"></div>
                            </div> *@

                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-8">
                                    <table class="table table-borderless" style="font-size:small">
                                        <thead>
                                            <tr>

                                                <th>
                                                    <label>File Name</label>
                                                </th>
                                                <th>
                                                    <label>Date Updated</label>
                                                </th>
                                                <th>
                                                    <label>Upload By</label>
                                                </th>
                                                <th>
                                                    <label>Actions</label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblAttachment">
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-sm-8">
                                    <button class="btn btn-primary float-end" >Add to list</button>
                                </div>
                            </div>


                        </div>

                    </div>

                </div>
            </form>
            <div class="table-responsive mt20">
                <table class="table table-bordered" id="tblDTR">
                    <thead>
                        <tr>

                            <th>
                                <label>Deliverable</label>
                            </th>
                            <th>
                                <label>Status </label>
                            </th>
                            <th>
                                <label>Date Created</label>
                            </th>

                            <th class="text-center">
                                <label>Actions</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var item in Model.DeliverableList)
                        {
                            <tr>
                                <td>
                                    @item.DeliverableName
                                </td>
                                <td>
                                    @item.StatusName
                                </td>

                                <td>
                                    @item.DateCreated.ToString("yyyy-MM-dd")
                                </td>

                                <td class="text-center">
                                    <a href="javascript:void(0)" onclick='editForm({
                                                                                            mileStoneId:"@item.MileStoneId",
                                                                                            deliverableId : "@item.DeliverableId",
                                                                                            deliverableName:"@item.DeliverableName",
                                                                                            status:"@item.Status",
                                                                                        attachmentList: @Html.Raw(Json.Serialize(item.AttachmentListId)),
                                                                                               attachList: @Html.Raw(Json.Serialize(item.AttachmentList))

                                                                                    })' title="Edit" class="btn btn-primary"><i class="fas fa-edit"></i></a>

                                    <a href="javascript:void(0)" title="Delete" class="btn btn-danger"><i class="fas fa-trash"></i></a>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>


<style>
    /* Override conflicting CSS only inside this section */
    .project-dates .row {
        display: flex !important;
        align-items: center !important;
        flex-wrap: nowrap !important;
        margin-bottom: 10px;
    }

    .project-dates label {
        white-space: nowrap;
        margin-right: 10px;
    }

    .project-dates .col-md-3,
    .project-dates .col-md-4,
    .project-dates .col-md-5 {
        display: flex;
        align-items: center;
    }

        .project-dates .col-md-5 .input-group {
            width: 100%;
        }

    .project-dates button {
        white-space: nowrap;
    }

    .file-icon {
        position: relative;
        display: inline-block;
        font-size: 32px;
    }

    .pdf-icon {
        color: #dc3545; /* red PDF icon */
    }

    .attachment-icons {
        display: flex; /* align children in a row */
        gap: 10px; /* spacing between icons */
        flex-wrap: wrap; /* wrap to next line if too many */
    }

    .file-icon {
        position: relative;
        width: 50px; /* adjust size */
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .delete-btn {
        position: absolute;
        top: -6px;
        right: -6px;
        width: 18px;
        height: 18px;
        background: #000;
        color: #fff;
        border-radius: 50%;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        line-height: 18px;
        cursor: pointer;
    }

        .delete-btn:hover {
            background: #dc3545;
        }

</style>

@section scripts {
    <script src="~/js/dci-validation.js"></script>


    <script type="text/javascript">
            var js = jQuery.noConflict(true);
            let _datefrom;
            let _dateto;
                    $('.spinner-overlay').show();

        setTimeout(() => {
            $('.spinner-overlay').hide();
        }, 200);


            $(document).ready(function () {



            }); //end docu



             function editForm(dataMile){

                console.log(dataMile);
                  $('#DeliverableId').val(dataMile.deliverableId);
                  $('#MileStoneId').val(dataMile.mileStoneId);
                  $('#DeliverableName').val(dataMile.deliverableName);
                   $('#DeliverableName').val(dataMile.deliverableName);
                     $('#Status').val(dataMile.status);

                               // const container = document.getElementById("attachmentContainer");
                               //      container.innerHTML = ""; // clear previous attachments
                               //            if (!dataMile.attachmentList || dataMile.attachmentList.length === 0) {
                               //      container.innerHTML = "<small>No attachments</small>";
                               //      return;
                               //               }
                                 
                                            //   dataMile.attachmentList.forEach(att => {
                                            //        console.log(att);
                                            //     const html = `
                                            //         <div class="file-icon">
                                            //             <a href="javascript:void(0)" title="${att.filename}">
                                            //                 <i class="fas fa-file-pdf pdf-icon"></i>
                                            //             </a>
                                            //             <span class="delete-btn"
                                            //                   title="remove"
                                            //                   onclick="removeAttachment(${att})">
                                            //                 &times;
                                            //             </span>
                                            //         </div>
                                            //     `;
                                            //     container.insertAdjacentHTML("beforeend", html);
                                            // });
                                                   var tbodyAttachment = $("#tblAttachment");
                                                    tbodyAttachment.empty();
                                                    if (dataMile.attachList.length > 0) {
                                                          $.each(dataMile.attachList, function(index, item) {
                                                                            var row = `<tr>

                                                                                    <td>${item.filename}</td>
                                                                                    <td>${item.dateCreated}</td>
                                                                                    <td>${item.createdName}</td>
                                                                                     <td class="text-center">
                                                                                        <a href="#" class="btn btn-primary" title="Download">
                                                                                            <i class="fa fa-download"></i>
                                                                                        </a>
                                                                                        <a href="javascript:void(0)"
                                                                                           class="btn btn-danger"
                                                                                           title="Delete"
                                                                                           onclick="removeAttachment(${item.attachmentId}, 0)">
                                                                                            <i class="far fa-trash-alt"></i>
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>`;
                                                                tbodyAttachment.append(row);
                                                             });
                                                      } else {
                                                            tbodyAttachment.html(`<tr><td colspan="4" class="text-center">No attachment found.</td></tr>`);
                                                       }
            }

    </script>
}
