@model DCI.PMS.Models.ViewModel.ProjectViewModel
@using Newtonsoft.Json;
@using DCI.Core.Common;
@using DCI.Models.ViewModel;

<link href="~/css/dcicustom.css" rel="stylesheet" />


<div class="container-fluid">
    <div class="spinner-overlay">
        <div class="spinner-border text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="d-sm-flex align-items-center justify-content-between mb-3">
        <h6 class="m-0 font-weight-bold text-gray-800">Project Creation - Milestone</h6>

    </div>
    <div class="col-12 p0">
        <ul class="breadcrumb">
            <li><a href="~/Home/Index">Dashboard</a></li>
            <li><a href="~/Project/Index">Project</a></li>
            <li><a href="~/Project/CreateEdit">Add Project</a></li>
            <li><a href="#">Milestone</a></li>
        </ul>
    </div>

    <div class="card shadow mb-4">
        <div class="card-header">
            <label class="mb0">Data</label>
        </div>
        <div class="card-body">



            <form id="createForm" asp-controller="Project" asp-action="AddMilestone" method="post" enctype="multipart/form-data">
                <div class="modal-body">

                    <div class="project-dates">
                        <input type="hidden" id="ProjectCreationId" name="ProjectCreationId" value="@Model.ProjectCreationId">
                        <input type="hidden" id="MileStoneId" name="MileStoneId" value="@Model.Milestone.MileStoneId">
                        <div id="step1">
                            <div class="row">
                                <label for="MilestoneName" class="col-sm-2 col-form-label">Milestone</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="MilestoneName" name="MilestoneName" placeholder="Milestone">
                                  
                                </div>
                            </div>
                            <div class="row">
                                <label for="Percentage" class="col-sm-2 col-form-label">Percentage</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="Percentage" name="Percentage" placeholder="Percentage">
                                </div>
                            </div>

                            <!-- NOA -->
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Target Completed Date</label>

                                <div class="col-sm-6">
                                    <div class="input-group w-100">
                                        <input type="date" class="form-control" id="TargetCompletedDate" name="TargetCompletedDate" value="">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>

                            </div>

                            <!-- NTP -->
                            <div class="row">
                                <label class="col-sm-2 col-form-label">Actual Completion Date</label>

                                <div class="col-md-6">
                                    <div class="input-group w-100">
                                        <input type="date" class="form-control" id="ActualCompletionDate" name="ActualCompletionDate" value="">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>

                            </div>

                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Payment Status</label>
                                <div class="col-sm-8">
                                  @*   <input type="text" class="form-control" id="PaymentStatus" name="PaymentStatus" placeholder="Payment Status"> *@
                                    @Html.DropDownListFor(m => m.PaymentStatus, new SelectList(Model.StatusList, "StatusId", "StatusName"), "Select", new { @class = "form-control frmField", required = "required", id = "PaymentStatus"}) 
                                </div>
                            </div>

                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Milestone Status</label>
                                <div class="col-sm-8">
                                    @* <input type="text" class="form-control" id="Status" name="Status" placeholder="Milestone Status"> *@
                                    @Html.DropDownListFor(m => m.Status, new SelectList(Model.StatusList, "StatusId", "StatusName"), "Select", new { @class = "form-control frmField", required = "required", id = "Status" }) 
                                </div>
                            </div>
                            <div class="row">
                                <label for="remarks" class="col-sm-2 col-form-label">Remarks</label>
                                <div class="col-sm-8">
                                    <textarea type="text" rows="2" class="form-control" id="Remarks" name="Remarks" value=""> </textarea>
                                </div>
                            </div>
                            <div class="row">
                                <label for="attach" class="col-sm-2 col-form-label">Attachment</label>
                                <div class="col-sm-8">
                                    <input type="file" id="OtherAttachmentMilestone" name="OtherAttachmentMilestone" class="form-control" accept="application/pdf" multiple onchange="">
                                </div>
                            </div>
                       
                      @*       <div class="row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                                    <div id="attachmentContainer" class="attachment-icons"></div>                             
                            </div> *@
                            
                            <div class="row">
                                <label for="inputEmail3" class="col-sm-2 col-form-label"></label>
                                <div class="col-sm-8">
                                    <table class="table table-borderless" style="font-size:small">
                                        <thead>
                                            <tr>
                                               
                                                <th>
                                                    <label>File Name</label>
                                                </th>
                                                <th>
                                                    <label>Date Updated</label>
                                                </th>
                                                <th>
                                                    <label>Upload By</label>
                                                </th>
                                                <th>
                                                    <label>Actions</label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="tblAttachment">
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">

                                <div class="col-sm-8">
                                    <button class="btn btn-primary float-end" onclick="nextStep()">Add to list</button>
                                </div>
                            </div>
                        </div>

                        <hr />


                    </div>


                </div>
            </form>
            <div class="table-responsive mt20">
                <table class="table table-bordered" id="tblDTR">
                    <thead>
                        <tr>


                            <th>
                                <label>Milestone</label>
                            </th>
                            <th>
                                <label>Percentage </label>
                            </th>
                            <th>
                                <label>Target Completion</label>
                            </th>
                            <th>
                                <label>Actual Completion</label>
                            </th>
                            <th>
                                <label>Payment Status</label>
                            </th>
                            <th>
                                <label>Milestone Status</label>
                            </th>
                            <th class="text-center">
                                <label>Actions</label>
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var x in Model.MilestoneList)
                        {
                            <tr>
                                <td>@x.MilestoneName</td>
                                <td>@x.Percentage</td>
                                <td>@x.TargetCompletedDate.Value.ToString("MM/dd/yyyy") </td>
                                <td>@x.ActualCompletionDate.Value.ToString("MM/dd/yyyy") </td>

                                <td>@x.PaymentStatusName</td>
                                <td>@x.StatusName</td>
                                <td class="text-center">
                                 @*    <a href="javascript:void(0)" title="EDIT">EDIT</a> | *@
                                    <a asp-controller="Project" asp-action="Deliverables" asp-route-MileStoneId="@x.MileStoneId" class="btn btn-primary" title="View">
                                        <i class="fas fa-search"></i>
                                    </a>
                                    <a href="javascript:void(0)" onclick='editForm({
                                                                            projectCreationId:"@x.ProjectCreationId",
                                                                            mileStoneId : "@x.MileStoneId",
                                                                            milestoneName:"@x.MilestoneName",
                                                                            percentage:"@x.Percentage",
                                                                            targetCompletedDate :"@x.TargetCompletedDateString" ,
                                                                            actualCompletionDate : "@x.ActualCompletionDateString",
                                                                            paymentStatus:"@x.PaymentStatus",
                                                                            status : "@x.Status",
                                                                            remarks : "@x.Remarks",
                                            attachmentList: @Html.Raw(Json.Serialize(x.AttachmentListId)),
                                                            attachList: @Html.Raw(Json.Serialize(x.AttachmentList))

                                                                                    })' title="Edit" class="btn btn-info"><i class="fas fa-edit"></i></a>

                                    <a href="javascript:void(0)" title="Delete" class="btn btn-danger" id="deleteform"  onclick="deleteform(@x.MileStoneId)"><i class="fas fa-trash"></i></a>

                                    <a asp-controller="Project" asp-action="Deliverables" asp-route-MileStoneId="@x.MileStoneId" class="btn btn-secondary" title="Deliverables">
                                        <i class="fas fa-truck"></i>
                                        </a>
                                    </td>
                                </tr>
                            }                
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>

<style>
    /* Override conflicting CSS only inside this section */
    .project-dates .row {
        display: flex !important;
        align-items: center !important;
        flex-wrap: nowrap !important;
        margin-bottom: 10px;
    }

    .project-dates label {
        white-space: nowrap;
        margin-right: 10px;
    }

    .project-dates .col-md-3,
    .project-dates .col-md-4,
    .project-dates .col-md-5 {
        display: flex;
        align-items: center;
    }

        .project-dates .col-md-5 .input-group {
            width: 100%;
        }

    .project-dates button {
        white-space: nowrap;
    }

    .file-icon {
        position: relative;
        display: inline-block;
        font-size: 32px;
    }

    .pdf-icon {
        color: #dc3545; /* red PDF icon */
    }

    .attachment-icons {
        display: flex; /* align children in a row */
        gap: 10px; /* spacing between icons */
        flex-wrap: wrap; /* wrap to next line if too many */
    }

    .file-icon {
        position: relative;
        width: 50px; /* adjust size */
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .delete-btn {
        position: absolute;
        top: -6px;
        right: -6px;
        width: 18px;
        height: 18px;
        background: #000;
        color: #fff;
        border-radius: 50%;
        font-size: 12px;
        font-weight: bold;
        text-align: center;
        line-height: 18px;
        cursor: pointer;
    }

        .delete-btn:hover {
            background: #dc3545;
        }

</style>

@section scripts {
    <script src="~/js/dci-validation.js"></script>


    <script type="text/javascript">
            var js = jQuery.noConflict(true);
            let _datefrom;
            let _dateto;
                    $('.spinner-overlay').show();

        setTimeout(() => {
            $('.spinner-overlay').hide();
        }, 200);


            $(document).ready(function () {

                    flatpickr("#ActualCompletionDate", {
                                          dateFormat: "m/d/Y",
                                         defaultDate: new Date(),
                                    });


                         flatpickr("#TargetCompletedDate", {
                                      dateFormat: "m/d/Y",
                                       defaultDate: new Date(),
                                    });


            }); //end docu


            function editForm(dataMile){
            
                console.log(dataMile);
                               
                                  $('#ProjectCreationId').val(dataMile.projectCreationId);
                                $('#MileStoneId').val(dataMile.mileStoneId);
                               $('#MilestoneName').val(dataMile.milestoneName);
                                       $('#Percentage').val(dataMile.percentage);
                                $('#TargetCompletedDate').val(dataMile.targetCompletedDate);
                                  $('#ActualCompletionDate').val(dataMile.actualCompletionDate);
                                  $('#PaymentStatus').val(dataMile.paymentStatus);
                                   $('#Status').val(dataMile.status);
                                       $('#Remarks').val(dataMile.remarks);


                                    //       const container = document.getElementById("attachmentContainer");
                                    // container.innerHTML = ""; // clear previous attachments
                                    //       if (!dataMile.attachmentList || dataMile.attachmentList.length === 0) {
                                    // container.innerHTML = "<small>No attachments</small>";
                                    // return;
                                    //          }
                                                   
                                    //           dataMile.attachmentList.forEach(att => {
                                    //                console.log(att);
                                    //             const html = `
                                    //                 <div class="file-icon">
                                    //                     <a href="javascript:void(0)" title="${att.filename}">
                                    //                         <i class="fas fa-file-pdf pdf-icon"></i>
                                    //                     </a>
                                    //                     <span class="delete-btn"
                                    //                           title="remove"
                                    //                           onclick="removeAttachment(${att})">
                                    //                         &times;
                                    //                     </span>
                                    //                 </div>
                                    //             `;
                                    //             container.insertAdjacentHTML("beforeend", html);
                                    //         });


                                                    var tbodyAttachment = $("#tblAttachment");
                                                    tbodyAttachment.empty();
                                                    if (dataMile.attachList.length > 0) {
                                                          $.each(dataMile.attachList, function(index, item) {
                                                                            var row = `<tr> 
                                                                           
                                                                                    <td>${item.filename}</td>
                                                                                    <td>${item.dateCreated}</td>
                                                                                    <td>${item.createdName}</td>
                                                                                     <td class="text-center">
                                                                                        <a href="#" class="btn btn-primary" title="Download">
                                                                                            <i class="fa fa-download"></i>
                                                                                        </a>
                                                                                        <a href="javascript:void(0)"
                                                                                           class="btn btn-danger"
                                                                                           title="Delete"
                                                                                           onclick="removeAttachment(${item.attachmentId}, 0)">
                                                                                            <i class="far fa-trash-alt"></i>
                                                                                        </a>
                                                                                    </td>
                                                                                </tr>`;
                                                                tbodyAttachment.append(row);
                                                             });
                                                      } else {
                                                            tbodyAttachment.html(`<tr><td colspan="4" class="text-center">No attachment found.</td></tr>`);
                                                       }
                                            }

                     function deleteform(id) {
                            Swal.fire({
                                text: "Are you sure you want to delete this milestone?",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonText: "Yes, delete it!"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    $.ajax({
                                        type: 'POST',
                                        url: '@Url.Action("DeleteMilestone", "Project")',
                                        data: { MileStoneId : id },
                                        success: function (response) {
                                            if (response.success) {
                                                Swal.fire({
                                                    text: response.message,
                                                    icon: "success",
                                                    confirmButtonText: "Ok"
                                                }).then((result) => {
                                                    location.reload();
                                                });
                                            } else {
                                                Swal.fire({
                                                    text: response.message,
                                                    icon: "error"
                                                });
                                            }
                                        },
                                        error: function () {
                                            Swal.fire({
                                                text: "An error occurred. Please try again.",
                                                icon: "error"
                                            });
                                        }
                                    });
                                }
                            });
                    }


                          function removeAttachment(attachId){
                                    Swal.fire({
                                        text: "Are you sure you want to delete this attachment?",
                                        icon: "warning",
                                        showCancelButton: true,
                                        confirmButtonText: "Yes, delete it!"
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                            $.ajax({
                                                type: 'POST',
                                                 url: '@Url.Action("DeleteAttachment", "Project")',
                                                    data: { AttachmentId: attachId },
                                                success: function (response) {
                                                    if (response.success) {
                                                        Swal.fire({
                                                            text: response.message,
                                                            icon: "success",
                                                            confirmButtonText: "Ok"
                                                        }).then((result) => {
                                                            location.reload();
                                                                                                                               
                                                        });
                                                    } else {
                                                        Swal.fire({
                                                            text: response.message,
                                                            icon: "error"
                                                        });
                                                    }
                                                },
                                                error: function () {
                                                    Swal.fire({
                                                        text: "An error occurred. Please try again.",
                                                        icon: "error"
                                                    });
                                                }
                                            });
                                        }
                                    });
        }

    </script>
}
